
body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  /*width: 100vw;*/
}

h2, h3 {
  border-bottom: 1px solid #Fff;
  margin-bottom: 2px;
  color: #fff;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
}


.jobs_page_header {
  display: inline;
  text-align: center;
  /*width: 100%;*/
}

.jobs_page_header_subcontainer {
  display: block;
  margin: 0 auto;
  /*border: 2px solid green;*/
  background-image: url("../images/backgrounds/bg4.jpg");
  background-size: cover;
  padding: 50px;
}

.jobs_page_logo_1 {
  height: 150px;
  margin: 30px;
  display: block;
  margin: 30px auto;
}

.jobs_page_logo_2 {
  height: 40px;
}

.jobs_page_main {
  /*background-image: url("../images/backgrounds/bg4.jpg");*/

}

.jobs_page_section_1 {
  text-align: center;
  /*background-color: #fff;*/
  background-color: rgba(102,204,255,.8);
  /*border: 2px solid red;*/
  z-index: 1;
}

.jobs_page_section_1_subcontainer {
  width: 600px;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  padding: 50px;
  /*border: 2px solid blue;*/
  /*background-color: #fff;*/
}

.jobs_page_section_1_text, .jobs_page_team_about {
  line-height: 1.8;
}

.jobs_page_section_2 {
  text-align: left;
  /*border: 2px solid yellow;*/
  z-index: 1;
  display: block;
  width: 100vw;
  overflow: hidden;
}

.jobs_page_section_2_img_container {
  vertical-align: top;
  display: inline-block;
  /*height: 200px;*/
  width: 45%;
  /*overflow: hidden;*/
  /*border: 4px solid red;*/
  /*float: right;*/
}

.jobs_page_section_2_img {
  /*width: 200px;*/
  height: 610px;
  margin-left: -10px;
}

.jobs_page_section_2_subcontainer {
  width: 42%;
  height: 450px;
  display: inline-block;
  background-color: rgb(255,115,142);
  /*border: 2px solid purple;*/
  text-align: center;
  padding: 80px;
}

.jobs_page_section_2_list {
  list-style: none;
}

.jobs_page_section_2_list_item {
  text-align: left;
  margin-top: 25px;
}

.jobs_page_section_3 {
  text-align: right;
  /*border: 2px solid green;*/
  z-index: 1;
  display: block;
  /*width: 100vw;*/
}

.jobs_page_section_3_img_container {
  display: inline-block;
  /*height: 200px;*/
  width: 45%;
  /*border: 4px solid red;*/
  float: left;
  z-index: 0;
  /*overflow: hidden;*/
}

.jobs_page_section_3_img {
  height: 660px;
  /*width: 200px;*/
  z-index: 0;
}

.jobs_page_section_3_subcontainer {
  width: 42%;
  /*height: 450px;*/
  display: inline-block;
  background-color: rgb(75,228,196);
  /*border: 2px solid purple;*/
  text-align: center;
  padding: 80px;
}

.jobs_page_section_3_list {
  list-style: none;
}

.jobs_page_section_3_list_item {
  text-align: left;
  margin-top: 25px;
}



.footer_bottom_subcontainer {
  height: 270px;
  /*border: 1px solid yellow;*/
  background-color: #545454;
  z-index: 1;
}

.footer_site_links {
  height: 250px;
  /*border: 1px solid red;*/
  display: block;
  padding: 10px 0 0 0;
  margin: 0 40px 0 40px;
}

.address_ul {
  width: 150px;
}

.footer_logo_img {
  height: 35px;
}

.footer_logo_wrapper {
  text-align: justify;
}

.footer_site_links_list {
  list-style: none;
  padding: 0 0 0 0px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 160px 0 0px;
}

.footer_site_links_list > li {
  text-align: justify;
}

.footer_site_link {
  text-decoration: none;
}

.footer_site_links_list_item_text {
  color:  #f1f1f1;
  margin: 10px 0 10px 0;
  font-size: 12px;
  font-weight: 100 !important;
}


.footer_site_links_list_item_text_1 {
  font-size: 12px;
  color: #ffffff;
}

.footer_social_links {
  margin: 20px 0 0 0;
}

.footer_social_links_list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  position: relative;
  right: -280px;
}

.footer_social_links_list_item {
  display: inline;
}

.footer_social_link_img {
  height: 20px;
  width: 20px;
  margin: 0 15px 0 15px;
}

.footer_subscribe_link_text {
  color: #fff;
  /*border: 2px solid #fff;*/
}

.footer_address_wrapper {
  border: 2px solid #fff;
  height: 150px;
}

.address {
  color: #f1f1f1;
  display: inline;
}

.email {
  font-size: 12px;
  color: #f1f1f1;
}

.email_link {
  display: block;
}

.copyright_text {
  color: #f1f1f1;
  margin: 10px;
  font-size: 10px;
}

.footer_partners_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  border-top: 1px solid rgba(225,225,225,.3);
  border-bottom: 1px solid rgba(225,225,225,.3);
}

.footer_partners_list_item {
  display: inline;
}

.footer_partners_link {
  text-decoration: none;
}

.footer_partners_img {
  height: 40px;
  width: 40px;
  margin: 10px 100px 10px 100px;
}

#aws_img {
  height: 30px;
  width: 160px;
  /*margin-bottom: 30px;*/
}

#fbstart_img {
  height: 30px;
  width: 130px;
}

#wework_img {
  width: 110px;
}

.subscribe_popup_wrapper {
  position: fixed;
  top: 10%;
  left: 36%;
  height: 270px;
  width: 470px;
  z-index: 4;
  background-color: #66ccff;
  display: none;
}

#subscribe_popup_close {
  position: relative;
  top: 5px;
  left: 440px;
}

.press_subscribe_popup_wrapper {
  position: fixed;
  top: 10%;
  left: 36%;
  height: 270px;
  width: 470px;
  z-index: 4;
  background-color: #ff738e;
  display: none;
}

#press_subscribe_popup_close {
  position: relative;
  top: 5px;
  left: 440px;
}


@media (max-width: 1680px) {

  .footer_site_links_list {
    margin: 0px 110px 0 0;
  }

  .footer_social_links_list {
    right: -300px;
  }

  .footer_partners_img {
    /*height: 150px;
    width: 150px;*/
    margin: 10px 80px 10px 80px;
  }

}

@media (max-width: 1440px) {

  .footer_site_links_list {
    margin: 10px 75px 0 0;
    right: -20%;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width: 170px;
    margin-bottom: 10px;
  }

  #fbstart_img {
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
  }

  #wework_img {
    width: 120px;
  }

}

@media (max-width: 1280px) {

  .footer_site_links_list {
    margin: 10px 45px 0 0;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width:140px;
    /*margin-bottom: 10px;*/
  }

  #wework_img {
    height: 40px;
    width: 90px;
  }

  #fbstart_img {
    height: 30px;
  }

}

@media (max-width: 1280px) {

  .footer_bottom_subcontainer {
    height: 300px;
  }

  .footer_site_links {
    margin: 0 20px 0 20px;
  }

  .footer_site_links_list {
    margin: 10px 25px 0 0;
  }

  .address_ul {
    width: 130px;
  }

  .footer_contact {
    margin: 0 20px 0 0;
    width: 400px;
  }

  .footer_subscribe_link_text {
    margin: 0 40px 0 40px;
  }

  .footer_social_links_list {
    position: relative;
    right: -40%;
    top: 5px;
  }

  .footer_social_link_img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 5px 30px 5px 30px;
  }

  #aws_img {
    height: 30px;
    width: 110px;
    margin-bottom: 5px;
  }

  #fbstart_img {
    height: 30px;
    width: 90px;
    margin-bottom: 5px;
  }

  #wework_img {
    width: 90px;
  }

}

@media (max-width: 450px) {

  body {
    /*width: 98vw;*/
  }

  h2 {
    font-size: 18px;
  }

  .jobs_page_section_1_text, .jobs_page_team_about {
    font-size: 12px;
  }

  .jobs_page_section_1_subcontainer {
    width: 95vw;
    margin: 0px;
    padding: 10px;
  }

  .jobs_page_section_2 {
    height: 330px;
  }

  .jobs_page_section_2_subcontainer {
    width: 150px;
    padding: 10px;
  }

  .jobs_page_section_2_list {
    padding: 0;
  }

  .jobs_page_section_2_list_item_text {
    font-size: 12px;
  }

  .jobs_page_section_2_img_container {
    height: 100%;
    float: right;
    width: 240px;
  }

  .jobs_page_section_2_img {
    width: 370px;
    height: 100%;
    /*height: 400px;*/
  }

  .jobs_page_section_3 {
    height:563px;
  }

  .jobs_page_section_3_subcontainer {
    width: 150px;
    padding: 10px;
    /*height: 640px;*/
    height: 96.5%;
  }

  .jobs_page_section_3_list {
    padding: 0;
  }

  .jobs_page_section_3_list_item_text {
    font-size: 12px;
  }

  .jobs_page_section_3_img_container {
    height: 100%;
    width: 240px;
    /*overflow: hidden;*/
    z-index: 0;
    float: left;
  }

  .jobs_page_section_3_img {
    height: 100%;
    /*height: 610px;*/
    width: 370px;
  }

  .footer_bottom_subcontainer {
    height: 270px;
  }

  .footer_site_links {
    margin: 0 0 0 0;
    display: block;
    height: 200px;
  }

  .footer_site_links_list {
    padding: 0 0 0 10px;
    margin: 5px 5px 0 0;
  }

  .footer_site_links_list_item {
    margin: 20px 0 5px 0;
  }

  .address_ul {
    width: 90px;
    padding: 0;
    margin-left: 10px;
  }

  .email {
    font-size: 9px;
  }

  .footer_site_links_list_item_text {
    font-size: 10px;
  }

  .footer_site_links_list_item_text_1 {
    font-size: 9px;
  }

  .footer_site_links_list > li {
    text-align: center;
  }


  .footer_logo_wrapper {
    text-align: center;
  }

  .footer_logo_img {
    height: 20px;
  }

  .footer_contact {
    float: none;
    display: block;
    width: 100vw;
  }

  .footer_header {
    margin: 10px 0 20px 0;
    font-size: 35px;
  }

  .footer_subscribe_link_text {
    border: none;
    margin: 0 35px 0 35px;
  }

  .footer_address_wrapper {
    border: none;
  }

  .footer_social_links_list {
    position: relative;
    right: -40px;
    top: 0px;
  }


  .address_divider_1, .address_divider_2 {
    height: 50px;
    width: 350px;
    margin: 10px 0 10px 0;
  }

  .footer_social_links {
    margin: 40px 0 0 0;
  }

  .footer_social_link_img {
    height: 15px;
    width: 15px;
    margin: 0 30px 0px 30px;
  }

  .footer_partners_img {
    height: 20px;
    width: 20px;
    margin: 5px 12px 5px 12px;
  }

  #aws_img {
    width: 80px;
    height: 20px;
  }

  #fbstart_img {
    height: 20px;
    width: 70px;
  }

  #wework_img {
    height: 25px;
    width: 50px;
  }

  .footer_copyright_wrapper {
    display: block;
  }

  .copyright_text {
    /*margin: 40px 0 0 0;*/
    font-size: 8px;
  }

  .subscribe_popup_wrapper, .press_subscribe_popup_wrapper {
    top: 0%;
    left: 12%;
    width: 300px;
  }

  #subscribe_popup_close, #press_subscribe_popup_close {
    top: 1px;
    left: 275px;
  }

}

/*@media (max-width: 411px) {

  .jobs_page_section_2_img_container, .jobs_page_section_3_img_container {
    width: 230px;
    overflow: hidden;
  }

  .jobs_page_section_2_subcontainer, .jobs_page_section_3_subcontainer {
    width: 160px;
  }


}*/

@media (max-width: 375px) {

  .jobs_page_section_2_img_container, .jobs_page_section_3_img_container {
    width: 204px;
  }

  .footer_bottom_subcontainer {
    height: 260px;
  }

  .footer_site_links {
    margin: 0;
    padding: 5px;
  }

  .address_ul {
    width: 80px;
  }

  .footer_site_links_list {
    padding: 0;
  }

  .footer_site_links_list_item_text_1 {
    font-size:  8px;
  }

  .footer_social_links {
    margin: 55px 0 0 0;
  }

  .footer_social_links_list {
    right: -25px;
  }

  .footer_partners_img {
    margin: 5px 10px 5px 10px;
  }

  .copyright_text {
    /*margin: 60px 0 0 0;*/
  }

}

@media (max-width: 360px) {

  .jobs_page_section_2_img_container, .jobs_page_section_3_img_container {
    width: 190px;
  }

  .jobs_page_section_2_img, .jobs_page_section_3_img {
    width: 355px;
  }

  .footer_bottom_subcontainer {
    height: 270px;
  }

  .footer_site_links_list_item_text {
    font-size: 9px;
    margin: 6px 0 10px 0;
  }

  .footer_partners_img {
    margin: 5px;
  }

}

@media (min-width: 2560px) {

  .footer_partners_img {
    margin: 10px 150px 10px 150px;
  }

  .footer_social_links_list {
    right: -800px;
  }

}
