@media (max-width: 1679px) {

  .footer_site_links_list {
    margin: 0px 110px 0 0;
  }

  .footer_partners_img {
    /*height: 150px;
    width: 150px;*/
    margin: 10px 80px 10px 80px;
  }

}

@media (max-width: 1440px) {

  .team_list_item_box {
    margin: 0 60px 0 60px;
  }

  .static_rainbow_download_badges_wrapper {
    left: 270px;
    top: 650px;
  }

  .footer_site_links_list {
    margin: 10px 75px 0 0;
    right: -200px;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width: 170px;
    margin-bottom: 10px;
  }

  #fbstart_img {
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
  }

  #wework_img {
    width: 120px;
  }

  .animation_master_container {
    left: 50px;

  }

  .animation_container {
    margin: 0 100px 0 150px;
  }

  .animation_text_container {
    margin: 0 40px;
  }

  .animation_press_9 {
    left: 725px;
  }

}

@media (max-width: 1280px) {

  .main_tagline {
    margin-bottom: 20px;
    font-size: 50px;
  }

  .team_list_item_box {
    margin: 0 40px 0 40px;
  }

  .footer_site_links_list {
    margin: 10px 45px 0 0;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width:140px;
    /*margin-bottom: 10px;*/
  }

  #wework_img {
    height: 40px;
    width: 90px;
  }

  #fbstart_img {
    height: 30px;
  }

  .animation_master_container {
    left: 00px;
  }

  .animation_container {
    margin: 0 100px 0 150px;
  }

  .animation_text_container {
    margin: 0 40px;
  }

  .animation_press_9 {
    left: 640px;
  }

}

/*@media (max-height: 900px) {
  .features_container {
    height: 130vh;
  }
}*/


@media (max-width: 768px) {

  .burger_menu_img_wrapper {
    top: 10px;
    left: 14px;
  }

  .burger_menu_wrapper {
    top: 22px;
    left: 20px;
  }

  .main_tagline {
    font-size: 45px;
  }

  #download_badge_1, #download_badge_2 {
    /*margin: 0 100px 0 0;*/
    margin: 50px;
    height: 57px;
  }

  .download_badges_wrapper {
    display: inline;
    width: auto;
  }

  .media_scroll_list_item {
    /*vertical-align: middle;*/
    float: left;
    margin: 15px 0px 15px 0px;
    width: 350px;
    text-align: center;
  }

  #bustle_img, #maxim_img {
    height: 80px;
    width: 220px;
  }

  .adjust_list_item {
    margin-top: 20px;
  }

  .adjust_list_item_2 {
    margin-top: 25px;
  }

  #bild_img {
    height: 80px;
  }

  #cnet_img {
    height: 80px;
    width: 80px;
  }

  #sun_img {
    height: 80px;
    width: 200px;
  }

  #mashable_img {
    height: 80px;
    width: 280px;
  }

  #gma_img {
    height: 90px;
    width: 260px;
  }

  .animation_master_container {
    /*border: 2px solid black;*/
    width: 900px;
    height: 700px;
    /*top: 200px;*/
    left: -90px;
  }

  .animation_container {
    width: 400px;
    height: 700px;
    margin: 0 10px;
    /*border: 2px solid black;*/
    background-image: url('../images/screens/screen0.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  .animation_press_9 {
    width: 250px;
    top: 65px;
    left: 370px;
  }

  .animation_text_container {
    width: 350px;
    height: 400px;
    margin: 0 10px;
    /*border: 2px solid black;*/
    display: inline-block;
    overflow: hidden;
  }

  .animation_text_list_item {
    margin: 50px 0 50px 0;
  }

  .animation_text_heading {
    font-size: 40px;
  }

  .animation_text_subcontainer > .slick-list {
    height: 320px !important;
  }

  .download_badges {
    height: 70px;
  }

  .team_container {
    height: 840px;
  }

  .team_list_item_box {
    margin: 0 20px 0 20px;
  }

  .team_list_item_img {
    height: 140px;
    width: 140px;
  }

  .footer_bottom_subcontainer {
    height: 300px;
  }

  .footer_site_links {
    margin: 0 20px 0 20px;
  }

  .footer_site_links_list {
    margin: 10px 25px 0 0;
  }

  .address_ul {
    width: 130px;
  }

  .footer_contact {
    margin: 0 20px 0 0;
    width: 400px;
  }

  .footer_subscribe_link_text {
    margin: 0 40px 0 40px;
  }

  .footer_social_links_list {
    position: relative;
    right: -550px;
    top: -130px;
  }

  .footer_social_link_img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 5px 30px 5px 30px;
  }

  #aws_img {
    height: 30px;
    width: 110px;
    margin-bottom: 5px;
  }

  #fbstart_img {
    height: 30px;
    width: 90px;
    margin-bottom: 5px;
  }

  #wework_img {
    width: 90px;
  }

  #chatlio-widget .chatlio-widget {
    /*right: 155px;*/
  }

}


@media (max-width: 450px) {

  .team_container {
    height: 690px;
  }

  .main_logo_1 {
    width: 200px;
  }

  .burger_menu_wrapper {
    top: 9px;
    left: 12px;
  }

  .burger_menu_img {
    height: 20px;
    width: 20px;
  }

  .burger_menu_img_wrapper {
    top: 10px;
    left: 15px;
  }

  .main_logo_2 {
    width: 370px;
  }

  .main_tagline {
    font-size: 25px;
  }

  .blurb_container {
    width: 350px;
    height: 100px;
    border: none;
  }

  .blurb_text {
    font-size: 15px;
    line-height: 1.5;
  }

  .download_badges_wrapper {
    display: block;
    width: auto;
    margin-top: 30px;
  }

  .download_badges {
    height: 45px;
  }


  #download_badge_1, #download_badge_2 {
    width: 110px;
    margin: 30px;
    height: 40px;
  }


  .animation_master_container {
    /*border: 2px solid black;*/
    width: 410px;
    height: 800px;
    position: relative;
    top: 200px;
    left: 0px;
    margin: 0px;
  }

  .animation_container {
    width: 400px;
    height: 700px;
    margin: 0 35px 0 35px;
    /*border: 2px solid black;*/
    background-image: url('../images/screens/screen0.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*display: inline-block;*/
  }

  .animation_text_container {
    width: 480px;
    height: 200px;
    /*margin: 0 50px;*/
    /*border: 2px solid black;*/
    display: block;
    overflow: hidden;
    /*display: none;*/
  }

  .media_scroll {
    height: 80px;
  }

  .media_scroll_list {
    padding: 0;
    margin: 0;
  }

  .media_scroll_list_item {
    /*vertical-align: middle;*/
    margin: 15px 0px 15px 0px;
    width: 250px;
  }

  .adjust_list_item {
    margin-top: 25px;
  }

  .adjust_list_item_2 {
    margin-top: 15px;
  }

  #gma_list_item {
    margin-top: 25px
  }

  #bustle_img, #maxim_img {
    height: 30px;
    width: 150px;
  }

  #bild_img {
    height: 50px;
  }

  #cnet_img {
    height: 50px;
    width: 50px;
  }

  #sun_img {
    height: 30px;
    width: 120px;
  }

  #mashable_img {
    height: 30px;
    width: 210px;
  }

  #gma_img {
    margin-top: 5px;
    height: 40px;
    width: 240px;
    margin: 10px 0 15px 0 !important;
  }

  .slick-slide {
    height: 110px !important;
    padding: 5px !important;
  }

  .animation_text_container {
    /*background-color: rgba(0,0,0,0.5);*/
    text-align: center;
    height: 110px;
    width: 395px;
    margin: 5px 0 10px 20px;
    /*border-radius: 20px;*/
  }

  .animation_text_subcontainer {
    left: 0px;
  }

  .animation_text_subcontainer > .slick-list {
    height: 120px !important;
    width:  350px;
  }

  .animation_text_list_item {
    margin: 0;
    /*margin: 15px 0 15px 0 !important;*/
    /*padding: 5px;*/
    height: 80px;
  }

  #animation_text_list_item_last {
    margin: 0 !important;
  }

  .animation_press_9 {
    width: 200px;
    top: 183px;
    left: 95px;
  }

  .animation_text_heading {
    font-size: 25px;
    margin: 0px 0 5px 0;
  }

  .animation_text {
    font-size: 16px;
    margin: 0;
  }

  .team_header {
    margin: 30px 0 10px 0;
  }

  .team_list_1 {
    margin: 0;
    height: 200px;
  }

  .team_list_2, .team_list_3, .team_list_4, .team_list_5 {
    padding: 0;
    margin: 0;
    height: 200px;
  }

  .team_list_item {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  .team_list_item_box {
    width: 121px;
    margin: 20px 5px 20px 5px;
  }

  .team_list_item_img {
    height: 100px;
    width: 100px;
  }

  .team_text {
    font-size: 10px;
  }

  #new_team_member {
    margin: 0;
  }

  .footer_bottom_subcontainer {
    height: 220px;
  }

  .footer_site_links {
    margin: 0 0 0 0;
    display: block;
    height: 200px;
  }

  .footer_site_links_list {
    padding: 0 0 0 10px;
    margin: 5px 5px 0 0;
  }

  .footer_site_links_list_item {
    margin: 5px 0 5px 0;
  }

  .address_ul {
    width: 100px;
    padding: 0;
    /*margin-left: 20px;*/
  }

  .email {
    font-size: 9px;
  }

  .footer_site_links_list_item_text {
    font-size: 10px;
  }

  .footer_site_links_list_item_text_1 {
    font-size: 9px;
  }

  .footer_site_links_list > li {
    text-align: center;
  }

  .footer_logo_wrapper {
    text-align: center;
  }

  .footer_logo_img {
    height: 20px;
  }

  .footer_contact {
    float: none;
    display: block;
    width: 100vw;
  }

  .footer_header {
    margin: 10px 0 20px 0;
    font-size: 35px;
  }

  .footer_subscribe_link_text {
    border: none;
    margin: 0 35px 0 35px;
  }

  .footer_address_wrapper {
    border: none;
  }

  .footer_social_links_list {
    position: relative;
    right: -115px;
    top: 0px;
  }

  .address_divider_1, .address_divider_2 {
    height: 50px;
    width: 350px;
    margin: 10px 0 10px 0;
  }

  .footer_social_links {
    margin: 40px 0 0 0;
  }

  .footer_social_link_img {
    height: 15px;
    width: 15px;
    margin: 0 5px 0px 5px;
  }

  .footer_partners_img {
    height: 20px;
    width: 20px;
    margin: 5px 12px 5px 12px;
  }

  #aws_img {
    width: 80px;
    height: 20px;
  }

  #fbstart_img {
    height: 20px;
    width: 70px;
  }

  #wework_img {
    height: 25px;
    width: 50px;
  }

  .footer_copyright_wrapper {
    display: block;
  }

  .copyright_text {
    /*margin: 40px 0 0 0;*/
    font-size: 8px;
  }

  #chatlio-widget .chatlio-widget {
    right: 65px;
    /*width: 380px;*/
  }

}

@media (max-width: 375px) {

  .main_logo_2 {
    width: 330px;
  }

  .team_container {
    height: 700px;
  }

  .team_header {
    margin: 30px 0 10px 0;
  }

  .main_tagline {
    font-size: 23px;
  }

  .download_badges_wrapper {
    margin-top: 10px;
  }

  #download_badge_1, #download_badge_2 {
    width: 110px;
    height: 35px;
  }

  .slick-slide {
    height: 110px !important;
    padding: 5px !important;
  }

  .animation_text_subcontainer {
    left: -5px;
    top: 20px;
  }

  .animation_text_container {
    margin: 5px 0 0 15px;
  }

  .animation_text_subcontainer > .slick-list {
    height: 110px !important;
  }

  .animation_text_heading {
    margin: 0px;
  }

  .animation_text {
    font-size: 14px;
    margin: 0;
  }

  .animation_container {
    margin: 0 15px 0 15px;
  }

  .team_list_item_box {
    margin: 20px 0px 20px 0px;
  }

  .footer_bottom_subcontainer {
    height: 210px;
  }

  .footer_site_links {
    margin: 0;
    padding: 5px;
  }

  .address_ul {
    width: 90px;
  }

  .footer_site_links_list {
    padding: 0;
  }

  .footer_site_links_list_item_text_1 {
    font-size:  8px;
  }

  .footer_social_links {
    margin: 55px 0 0 0;
  }

  .footer_social_links_list {
    right: -110px;
  }

  .footer_partners_img {
    margin: 5px 10px 5px 10px;
  }

  .copyright_text {
    /*margin: 60px 0 0 0;*/
  }

  #chatlio-widget .chatlio-widget {
    right: 65px;
    /*width: 375px;*/
  }

}

@media (max-width: 360px) {

  .main_tagline {
    font-size: 21px;
  }

  .blurb_container {
    width: 350px;
    height: 120px;
    border: none;
  }

  .blurb_text {
    font-size: 15px;
    line-height: normal;
  }

  .download_badges_wrapper {
    display: block;
    width: auto;
    margin-top: 10px;
  }

  #download_badge_1, #download_badge_2 {
    height: 30px;
    margin: 10px;
  }

  .animation_container {
    margin: 0 15px 0 10px;
  }

  .animation_press_9 {
    width: 180px;
    top: 190px;
    left: 78px;
  }

  .animation_text_subcontainer {
    left: -5px;
    top: 35px;
  }

  .slick-slide {
    height: 90px !important;
    width: 330px !important;
    padding: 5px !important;
  }

  .animation_text_heading {
    font-size: 20px;
  }

  .team_list_item_box {
    margin: 5px 0 5px 0;
    width: 110px;
  }

  .footer_site_links_list_item_text {
    font-size: 9px;
    margin: 6px 0 10px 0;
  }

  .footer_partners_img {
    margin: 5px;
  }

  #chatlio-widget .chatlio-widget {
    right: 65px;
    /*width: 360px;*/
  }
}

@media (min-width: 2560px) {

  .main_logo_2 {
    margin: 100px auto;
  }

  .main_tagline {
    margin: 100px auto 100px;
  }

  .animation_master_container {
    left: 500px;
  }

  .team_list_item_box {
    margin: 0 200px 0 200px;
  }

  .team_list_1, .team_list_2, .team_list_3 {
    margin: 60px 0 60px 0;
  }

  .footer_partners_img {
    margin: 10px 150px 10px 150px;
  }

  .footer_social_links_list {
    right: -800px;
  }

}
