@media (max-width: 1679px) {

  .static_main_logo_rainbow {
right: 288px;
  }

  .static_rainbow_screen {
right: 200px;
  }

  .sub_carousel {
right: 227px;
  }

  .sub_carousel_2 {
    left: 200px;
  }

  .static_rainbow_download_badges_wrapper {
    left: 320px;
    top: 650px;
  }

  .features_header {
    margin: 150px 0 150px 0;
  }

  .footer_site_links_list {
    margin: 0px 110px 0 0;
  }

  .footer_partners_img {
    /*height: 150px;
    width: 150px;*/
    margin: 10px 80px 10px 80px;
  }


}

@media (max-width: 1440px) {

  .team_list_item_box {
    margin: 0 60px 0 60px;
  }

  .static_rainbow_download_badges_wrapper {
    left: 270px;
    top: 650px;
  }

  .footer_site_links_list {
    margin: 10px 75px 0 0;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width: 170px;
    margin-bottom: 10px;
  }

  #fbstart_img {
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
  }

  #wework_img {
    width: 120px;
  }

  .animation_master_container {
    left: 150px;

  }

  .animation_container {
    margin: 0 100px 0 150px;
  }

  .animation_text_container {
    margin: 0 40px;
  }

}

@media (max-width: 1280px) {

  .static_main_logo_rainbow {
    right: 158px;
  }

  .static_rainbow_screen {
    right: 75px;
  }

  .sub_carousel {
    right: 102px;
  }

  .sub_carousel_2 {
    left: 100px;
  }

  .static_rainbow_download_badges_wrapper {
    left: 220px;
    top: 650px;
  }

  .team_list_item_box {
    margin: 0 40px 0 40px;
  }

  .footer_site_links_list {
    margin: 10px 45px 0 0;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width:140px;
    /*margin-bottom: 10px;*/
  }

  #wework_img {
    height: 40px;
    width: 90px;
  }

  #fbstart_img {
    height: 30px;
  }

  .animation_master_container {
    left: 100px;
  }

  .animation_container {
    margin: 0 100px 0 150px;
  }

  .animation_text_container {
    margin: 0 40px;
  }

}

/*@media (max-height: 900px) {
  .features_container {
    height: 130vh;
  }
}*/


@media (max-width: 768px) {

  .burger_menu_img_wrapper {
    top: 10px;
    left: 14px;
  }

  .burger_menu_wrapper {
    top: 22px;
    left: 20px;
  }

  .main_tagline {
    font-size: 45px;
  }

  #download_badge_1 {
    margin: 0 100px 0 0;
  }

  .media_scroll_list_item {
    /*vertical-align: middle;*/
    margin: 15px 120px 15px 120px;
  }

  #bustle_img, #maxim_img {
    height: 80px;
    width: 220px;
  }

  .adjust_list_item {
    margin-top: 20px;
  }

  .adjust_list_item_2 {
    margin-top: 25px;
  }

  #bild_img {
    height: 80px;
  }

  #cnet_img {
    height: 80px;
    width: 80px;
  }

  #sun_img {
    height: 80px;
    width: 200px;
  }

  #mashable_img {
    height: 80px;
    width: 280px;
  }

  #gma_img {
    height: 90px;
    width: 260px;
  }


  .animation_master_container {
    /*border: 2px solid black;*/
    width: 900px;
    height: 700px;
    /*top: 200px;*/
    left: 10px;
  }

  .animation_container {
    width: 400px;
    height: 700px;
    margin: 0 10px;
    /*border: 2px solid black;*/
    background-image: url('../images/screens/screen0.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }

  .animation_text_container {
    width: 350px;
    height: 400px;
    margin: 0 10px;
    /*border: 2px solid black;*/
    display: inline-block;
    overflow: hidden;
  }

  .animation_text_list_item {
    margin: 50px 0 50px 0;
  }

  .animation_text_heading {
    font-size: 40px;
  }
  /*.static_main_logo_rainbow_2 {
    display: none;
    z-index: 3;
    position: absolute;
    top: 75px;
    right: 438px;
    width: 130px;
  }*/



  .static_main_logo_rainbow {
    left: 130px;
    top: 420px;
    width: 200px;
  }

  .static_rainbow_screen {
    top: 330px;
    right: 85px;
    height: 550px;
  }

  .sub_carousel {
    top: 407px;
    right: 109px;
    height: 390px;
    width: 220px;
  }

  .sub_carousel > .slick-list {
    width: 220px !important;
    height: 390px !important;
  }

  .sub_carousel_img {
    height: 385px !important;
  }


  .sub_carousel_2 {
    top: 33px;
    width: 600px;
    height: 700px;
  }

  /*.sub_carousel_2 > .slick-list {
    height: 600px !important;
  }*/

  .static_rainbow_logo {
    margin-bottom: 10px;
  }

  .static_rainbow_tagline {
    /*position: absolute;
    left: 300px;
    top: 350px;*/
    margin: 0 0 0 0;
    /*font-size: 30px;*/
  }

  .static_rainbow_subtagline {
    margin: 0 0 0 0;
  }

  .static_rainbow_download_badges_wrapper {
    left: 100px;
    top: 890px;
  }

  .download_badges {
    height: 70px;
  }

  .features_container {
    height: 160vh;
  }

  .features_list_item {
    margin: 50px 0 0 0;
  }

  .features_list_item_box {
    width: 271px;
    margin: 0 40px 0 40px;
  }

  .features_list_item_img {
    height: 270px;
    width: 270px;
  }

  #feature_box_4 > img {
    height: 265px;
    width: 265px;
    padding: 4px;
    /*border: 2px solid black;*/
  }
/*
  .icon_resize {
    height: 190px;
    width: 190px;
    border-radius: 0;
  }*/

  .features_list_1, .features_list_2, .features_list_3 {
    padding: 0;
  }

  .team_container {
    height: 840px;
  }

  .team_list_item_box {
    margin: 0 20px 0 20px;
  }

  .team_list_item_img {
    height: 140px;
    width: 140px;
  }

  .footer_container {
    height: 100%;
  }

  .footer_bottom_subcontainer {
    height: 290px;
  }

  .footer_site_links {
    margin: 0 0 0 20px;
  }

  .footer_site_links_list {
    margin: 10px 25px 0 0;
  }

  .address_ul {
    width: 130px;
  }

  .footer_contact {
    margin: 0 20px 0 0;
    width: 400px;
  }

  .footer_subscribe_link_text {
    margin: 0 40px 0 40px;
  }

  .address_divider_1, .address_divider_2 {
    width: 180px;
    margin: 20px 5px 0 5px;
  }

  .footer_social_links_list {
    position: relative;
    right: -550px;
    top: -50px;
  }

  .footer_social_link_img {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 5px 30px 5px 30px;
  }

  .partners_scroll {
    height: 130px;
    overflow-y: hidden;
    overflow-x: scroll !important;
    background-color: #fff;
    vertical-align: top;
  }

  .partners_scroll_list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .partners_scroll_list_item {
    display: inline;
    vertical-align: middle;
  }

  .partners_scroll_list_item_img {
    height: 110px;
    margin: 10px 30px 10px 30px;
  }

  #aws_img {
    height: 30px;
    width: 110px;
    margin-bottom: 5px;
  }

  #fbstart_img {
    height: 30px;
    width: 90px;
    margin-bottom: 5px;
  }

  #wework_img {
    width: 90px;
  }

  .subscribe_popup_wrapper, .press_subscribe_popup_wrapper {
    left: 14%;
    width: 300px;
  }

  #subscribe_popup_close, #press_subscribe_popup_close {
    top: -55px;
    left: 278px;
  }

}


@media (max-width: 450px) {

  .features_container {
    height: 160vh;
  }

  .team_container {
    height: 690px;
  }

  .main_logo_1 {
    width: 200px;
  }

  .burger_menu_wrapper {
    top: 9px;
    left: 12px;
  }

  .burger_menu_img {
    height: 20px;
    width: 20px;
  }

  .burger_menu_img_wrapper {
    top: 10px;
    left: 15px;
    position: sticky;
  }

  .main_logo_2 {
    width: 370px;
  }

  .main_tagline {
    font-size: 25px;
  }

  .download_badges {
    height: 45px;
  }

  #download_badge_1 {
    margin: 0 50px 0 0;
  }

  #download_badge_1, #download_badge_2 {
    width: 150px;
  }


  .animation_master_container {
    /*border: 2px solid black;*/
    width: 410px;
    height: 800px;
    position: relative;
    top: 200px;
    left: 0px;
  }

  .animation_container {
    width: 400px;
    height: 700px;
    margin: 0 35px 0 35px;
    /*border: 2px solid black;*/
    background-image: url('../images/screens/screen0.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*display: inline-block;*/
  }

  .animation_text_container {
    width: 480px;
    height: 200px;
    /*margin: 0 50px;*/
    /*border: 2px solid black;*/
    display: block;
    overflow: hidden;
    /*display: none;*/
  }

  .sub_carousel {
    right: 110px;
    top: 265px;
    height: 295px;
    width: 180px;
  }

  .sub_carousel > .slick-list {
    height: 295px !important;
    width: 180px !important
  }

  .sub_carousel_img {
    height: 295px !important;
  }

  .sub_carousel_2 {
    top: 35px;
    left: 35px;
    width: 350px;
    height: 300px;
  }

  .static_rainbow_logo {
    height: 40px;
    margin: 0 auto;
    display: inline-block;
  }

  .static_rainbow_tagline {
    font-size: 35px;
    margin: 10px 0 10px 0;;
  }

  .static_rainbow_subtagline {
    font-size: 20px;
    margin: 10px 0 10px 0;
  }

  .static_main_logo_rainbow {
    display: none;
  }

  .static_rainbow_screen {
    top: 207px;
    right: 100px;
    height: 420px;
  }

  .static_rainbow_download_badges_wrapper {
    /*margin-top: 30px;*/
    left: 28px;
    /*bottom: 70px;*/
    top: 645px;
  }

  .slick-dots {
    bottom: 5px;
  }

  #rainbow_download_badge_1 {
    margin: 0 50px 0 0;
  }


  .media_scroll {
    height: 80px;
  }

  .media_scroll_list {
    padding: 0;
    margin: 0;
  }

  .media_scroll_list_item {
    /*vertical-align: middle;*/
    margin: 15px 80px 15px 80px;
  }

  .adjust_list_item {
    margin-top: 25px;
  }

  .adjust_list_item_2 {
    margin-top: 15px;
  }

  #gma_list_item {
    margin-top: 25px
  }

  #bustle_img, #maxim_img {
    height: 30px;
    width: 150px;
  }

  #bild_img {
    height: 50px;
  }

  #cnet_img {
    height: 50px;
    width: 50px;
  }

  #sun_img {
    height: 30px;
    width: 120px;
  }

  #mashable_img {
    height: 30px;
    width: 210px;
  }

  #gma_img {
    margin-top: 5px;
    height: 40px;
    width: 240px;
    margin: 10px 0 15px 0 !important;
  }

  .slick-slide {
    height: 110px !important;
  }

  .animation_text_container {
    /*background-color: rgba(0,0,0,0.5);*/
    height: 110px;
    width: 395px;
    margin: 5px 0 10px 45px;
    /*border-radius: 20px;*/
  }

  .animation_text_subcontainer > .slick-list {
    height: 120px !important;
    width:  350px;
  }

  .animation_text_list_item {
    margin: 0;
    /*margin: 15px 0 15px 0 !important;*/
    /*padding: 5px;*/
    height: 80px;
  }

  #animation_text_list_item_last {
    margin: 0 !important;
  }

  .animation_text_heading {
    font-size: 25px;
    margin: 0px 0 5px 0;
  }

  .animation_text {
    font-size: 16px;
    margin: 0;
  }

  .features_subcontainer {
    /*padding-right: 30px;*/
  }

  .features_header {
    font-size: 40px;
    /*margin-left: 30px;*/
  }

  .features_text {
    font-size: 20px;
  }

  .features_list_1, .features_list_2, .features_list_3 {
    padding: 0;
  }

  .features_list_item {
    vertical-align: top;
  }

  .features_list_item_box {
    width: 131px;
    margin: 0 25px 10px 25px;
  }

  #feature_box_4 {
    width: 131px;
    margin: 0 25px 10px 25px;
  }

  .features_list_item_img {
    height: 130px;
    width: 130px;
  }

  #feature_box_4 > img {
    /*border: 1px solid black;*/
    padding: 5px;
    height: 125px;
    width: 125px;
  }

  .team_header {
    margin: 30px 0 10px 0;
  }

  .team_list_1 {
    margin: 0;
    height: 200px;
  }

  .team_list_2, .team_list_3, .team_list_4, .team_list_5 {
    padding: 0;
    margin: 0;
    height: 200px;
  }

  .team_list_item {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }

  .team_list_item_box {
    width: 121px;
    margin: 20px 5px 20px 5px;
  }

  .team_list_item_img {
    height: 100px;
    width: 100px;
  }

  .team_text {
    font-size: 10px;
  }

  #new_team_member {
    margin: 0;
  }

  .footer_bottom_subcontainer {
    height: 230px;
  }

  .footer_site_links {
    margin: 0 0 0 0;
    display: block;
    height: 200px;
  }

  .footer_site_links_list {
    padding: 0 0 0 10px;
    margin: 5px 5px 0 0;
  }

  .footer_site_links_list_item {
    margin: 5px 0 5px 0;
  }

  .address_ul {
    width: 100px;
    padding: 0;
    /*margin-left: 20px;*/
  }

  .email {
    font-size: 9px;
  }

  .footer_site_links_list_item_text {
    font-size: 10px;
  }

  .footer_site_links_list_item_text_1 {
    font-size: 9px;
  }

  .footer_site_links_list > li {
    text-align: center;
  }

  .footer_logo_wrapper {
    text-align: center;
  }

  .footer_logo_img {
    height: 20px;
  }

  .footer_contact {
    float: none;
    display: block;
    width: 100vw;
  }

  .footer_header {
    margin: 10px 0 20px 0;
    font-size: 35px;
  }

  .footer_subscribe_link_text {
    border: none;
    margin: 0 35px 0 35px;
  }

  .footer_address_wrapper {
    border: none;
  }

  .footer_social_links_list {
    position: relative;
    right: -160px;
    top: 0px;
  }

  .address_divider_1, .address_divider_2 {
    height: 50px;
    width: 350px;
    margin: 10px 0 10px 0;
  }

  .footer_social_links {
    margin: 40px 0 0 0;
  }

  .footer_social_link_img {
    height: 15px;
    width: 15px;
    margin: 0 5px 0px 5px;
  }

  .footer_partners_img {
    height: 20px;
    width: 20px;
    margin: 5px 12px 5px 12px;
  }

  #aws_img {
    width: 80px;
    height: 20px;
  }

  #fbstart_img {
    height: 20px;
    width: 70px;
  }

  #wework_img {
    height: 25px;
    width: 50px;
  }

  .footer_copyright_wrapper {
    display: block;
  }

  .copyright_text {
    /*margin: 40px 0 0 0;*/
    font-size: 8px;
  }

  .partners_scroll {
    height: 120px;
    overflow-y: hidden;
    overflow-x: scroll !important;
    background-color: #fff;
    vertical-align: top;
  }

  .partners_scroll_list {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .partners_scroll_list_item {
    display: inline;
  }

  .partners_scroll_list_item_img {
    height: 80px;
    margin: 10px 30px 10px 30px;
  }

}

@media (max-width: 375px) {

  #download_badge_1 {
    margin: 0 30px 0 0;
  }

  .features_container {
    height: 170vh;
  }

  .team_container {
    height: 700px;
  }

  .team_header {
    margin: 30px 0 10px 0;
  }

  .main_tagline {
    font-size: 23px;
  }

  .slick-dots {
    bottom: 5px;
  }

  .sub_carousel {
    top: 230px;
    right: 104px;
    width: 171px;
  }

  .sub_carousel_2 {
    top: 20px;
    left: 15px;
  }

  .static_rainbow_logo {
    height: 35px;
  }

  .static_rainbow_tagline {
    font-size: 30px;
  }

  .static_rainbow_screen {
    top: 172px;
    right: 85px;
  }

  .static_rainbow_download_badges_wrapper {
    top: 592px;
    left: 48px;
  }

  .download_badges {
    height: 40px;
  }

  #download_badge_1, #download_badge_2 {
    width: 130px;
  }

  .download_badges_rainbow {
    height: 35px;
  }

  #rainbow_download_badge_1 {
    margin: 0 40px 0 0;
  }

  .features_subcontainer {
    /*padding-right: 15px;*/
    text-align: center;
  }

  .features_header {
    font-size: 30px;
    margin-left: 35px;
  }

  .features_list_item_box {
    margin: 0 20px 10px 20px;
  }

  .team_list_item_box {
    margin: 20px 0px 20px 0px;
  }

  .footer_bottom_subcontainer {
    height: 220px;
  }

  .footer_site_links {
    margin: 0;
    padding: 5px;
  }

  .address_ul {
    width: 90px;
  }

  .footer_site_links_list {
    padding: 0;
  }

  .footer_site_links_list_item_text_1 {
    font-size:  8px;
  }

  .footer_social_links {
    margin: 55px 0 0 0;
  }

  .footer_social_links_list {
    right: -140px;
  }

  .footer_partners_img {
    margin: 5px 10px 5px 10px;
  }

  .copyright_text {
    /*margin: 60px 0 0 0;*/
  }

  .sub_carousel > .slick-list {
    height: 350px !important;
  }

}
