
body {
  /*background-image: url("../images/backgrounds/swirl_bg_3.jpg");*/
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  /*background-size: cover;*/
}

h1, h2, h3 {
  /*color: #66ccff;*/
  /*color: #ffffff;*/
}

p {
  line-height: 1.5;
  /*color: #ffffff;*/
}

.privacy_heading {
  color: #ff738e;
}

/*burger menu styling*/

.burger_menu_img_wrapper {
  position: fixed;
  /*position: absolute;*/
  display: inline-block;
  top: 15px;
  left: 15px;
  z-index: 102;
}

.burger_menu_img {
  height: 80px;
  width: 80px;
  display: inline-block;
  z-index: inherit;
}

.burger_menu_wrapper {
  /*background-color: rgba(0,0,0,0.25);*/
  /*position: fixed;*/
  top: 10px;
  left: 18px;
  /*display: inline-block !important;*/
  z-index: 3;
}

.burger_menu_list {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  list-style: none;
  width: 160px;
  height: 310px;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  margin: 0;
  padding: 90px 0 0 5px;
}

.burger_menu_list_item {
  margin-left: 22px;
}

.burger_menu_list_item > a {
  text-decoration: none;
}

.burger_menu_list_item > a > p{
  color: #fff;
  margin-left: 20px !important;
  line-height: 1 !important;
}

.menu_social_link_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_social_link {
  display: inline;
}

.menu_social_link_img {
  height: 20px;
  width: 20px;
  margin: 7px;
}

/*burger menu styling*/


.tech_page_header {
  /*border: 1px solid blue;*/
  height: 650px;
  text-align: center;
  /*margin: 20px 0 0px 0px;*/
  background-image: url("../images/backgrounds/swirl_bg_4.jpg");
  background-size: cover;
}

.tech_page_header_subcontainer {
  /*border: 1px solid purple;*/
  display: inline-block;
  width: 750px;
  height: 300px;
  padding: 30px;
  display: block;
  margin: 0 auto;
  background-color: rgba(255,255,255,.96);
  /*border-radius: 5px;*/
  /*box-shadow: 1px 1px 2px;*/
}

.tech_page_heading {
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #fffff;
  /*background-color: rgba(255,255,255,1);*/
}

.tech_page_heading_main {
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #4be4c4;
  /*background-color: rgba(255,255,255,1);*/
}

.tech_page_header_img {
  height: 150px;
  border-radius: 20%;
  margin: 40px;
}

.tech_page_header_img_2 {
  height: 70px;
  width: 70px;
  margin: 15px;
}

.tech_page_header_text {
  line-height: 2;
  color: #4BE4C4;
  text-align: justify;
}

.tech_page_section {
  /*border: 1px solid blue;*/
  height: 700px;
  text-align: center;
  /*margin: 10px 0;*/
}

.tech_section_1 {
  /*background-color: #66ccff;*/
  border-top: 1px solid #66ccff;
}

.tech_section_subheading {
  text-align: justify;
}

.tech_heading_1, .tech_subheading_1, .tech_subheading_1a, .tech_subheading_1b {
  color: #66ccff;
}

.tech_heading_2, .tech_subheading_2, .tech_subheading_2a, .tech_subheading_2b {
  color: #ff738e;
}

.tech_heading_3, .tech_subheading_3, .tech_subheading_3a, .tech_subheading_3b {
  color: #4be4c4;
}

.tech_page_worldmate_img {
  margin-left: 20px;
  height: 30px;
}

.tech_heading_4, .tech_subheading_4, .tech_subheading_4a, .tech_subheading_4b {
  color: #66ccff;
}

.tech_heading_5, .tech_subheading_5, .tech_subheading_5a, .tech_subheading_5b {
  color: #66ccff;
}

.tech_section_text {
  text-align: justify;
}

.tech_page_whatisit_list {
  list-style-type: none;
  text-align: justify;
  padding: 0;
}

.tech_page_whatisit_list_item {
  margin: 30px 0;
}

.tech_page_whatisit_list_item_link {
  text-decoration: none;
}

.tech_page_whatisit_list_item_text_1 {
  color: #66ccff;
}

.tech_page_whatisit_list_item_text_2 {
  color: #ff738e;
}

.tech_page_whatisit_list_item_text_3 {
  color: #4be4c4;
  display: inline-block;
}

.tech_page_whatisit_list_item_text_4 {
  color: #66ccff;
}

.tech_text_1, .tech_text_1a {
  color: #66ccff;
}

.tech_text_2, .tech_text_2a {
  color: #ff738e;
}

.tech_text_3, .tech_text_3a {
  color: #4be4c4;
}

.tech_text_4, .tech_text_4a {
  color: #66ccff;
}

.tech_text_5, .tech_text_5a {
  color: #66ccff;
}

.tech_section_2 {
  /*background-color: #ff738e;*/
  border-top: 1px solid #ff738e;
}

.tech_section_3 {
  /*background-color: #4be4c4;*/
  border-top: 1px solid #4be4c4;
}

.tech_section_4 {
  /*background-color: #66ccff;*/
  border-top: 1px solid #66ccff;
}

.tech_section_5 {
  /*background-color: #ff738e;*/
  border-top: 1px solid #66ccff;
}

.tech_page_section_heading_container {
  /*background-color: rgba(255,255,255,.9);*/
  display: block;
  /*margin: 10px;*/
}

.tech_page_section_heading_img {
  height: 70px;
  width: 70px;
  /*background-color: rgba(75,228,196,.7);*/
  /*background-color: rgba(255,255,255,1);*/
  border: 1px soild red;
  border-radius: 20%;
  margin: 30px;
  /*padding: 10px;*/
}

.tech_section_left {
  /*border: 1px solid black;*/
  display: inline-block;
  width: 150px;
  height: 100px;
  margin: 0 150px 0 5px;
  vertical-align: top;
  padding: 20px;
  /*background-color: rgba(255,255,255,1);*/
  /*border-radius: 50%;*/
  /*box-shadow: 1px 1px 2px;*/
  text-align: justify;
}

.tech_page_section_img_main {
  height: 50px;
}

.text_mask_1 {
  border: 1px solid red;
  height: 300px;
  width: 510px;
  z-index: 2;
  margin: 0;
  position: relative;
  top: -296px;
  left: -30px;
}

.text_mask_2 {
  border: 1px solid red;
  height: 361px;
  width: 460px;
  z-index: 2;
  margin: 0;
  position: relative;
  top: -321px;
  left: -30px;
}

.tech_section_center {
  /*border: 1px solid green;*/
  width: 350px;
  height: 240px;
  display: inline-block;
  margin: 0 50px 0 50px;
  padding: 30px;
  vertical-align: top;
  /*background-color: rgba(255,255,255,1);*/
  /*background-color: rgba(75,258,196,.7);*/
  /*border-radius: 5px;*/
  /*box-shadow: 1px 1px 2px;*/
}


.tech_section_right {
  /*border: 1px solid red;*/
  width: 420px;
  height: 300px;
  display: inline-block;
  margin: 0 50px 0px 50px;
  padding: 30px;
  /*background-color: rgba(255,255,255,1);*/
  /*border-radius: 5px;*/
  /*box-shadow: 1px 1px 2px;*/
}

.tech_section_slack {
  height: 380px;
  border-top: 1px solid #4be4c4;
}

.tech_page_slack_img {
  height: 70px;
  width: 70px;
  margin-top: 30px;
}

.tech_page_slack_heading {
  color: #4be4c4;
}

.tech_page_slack_text {
  color: #4be4c4;
}

.tech_page_slack_subcontainer {
  border:  1px solid #4be4c4;
  border-radius: 5px;
  display: inline-block;
  width: 256px;
  height: 31px;
  margin: 20px;
}

.tech_section_slack_input {
  display: inline-block;
  vertical-align: top;
  height: 25px;
  width: 125px;
}

.tech_section_slack_button {
  display: inline-block;
  height: 31px;
  width: 120px;
  background-color: #4be4c4;
}

.tech_section_slack_button_text {
  padding: 5px;
  margin: 0;
}

.footer_bottom_subcontainer {
  height: 290px;
  /*border: 1px solid yellow;*/
  background-color: #545454;
  z-index: 1;
}

.footer_site_links {
  height: 250px;
  /*border: 1px solid red;*/
  display: block;
  padding: 10px 0 0 0;
  margin: 0 40px 0 40px;
}

.address_ul {
  width: 150px;
}

.footer_logo_img {
  height: 35px;
}

.footer_logo_wrapper {
  text-align: justify;
}

.footer_site_links_list {
  list-style: none;
  padding: 0 0 0 0px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 160px 0 0px;
}

.footer_site_links_list > li {
  text-align: justify;
}

.footer_site_link {
  text-decoration: none;
}

.footer_site_links_list_item_text {
  color:  #f1f1f1;
  margin: 10px 0 10px 0;
  font-size: 12px;
  /*font-weight: 100 !important;*/
}


.footer_site_links_list_item_text_1 {
  font-size: 12px;
  color: #ffffff;
}

.footer_social_links {
  margin: 20px 0 0 0;
}

.footer_social_links_list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  position: relative;
  right: -280px;
}

.footer_social_links_list_item {
  display: inline;
}

.footer_social_link_img {
  height: 20px;
  width: 20px;
  margin: 0 15px 0 15px;
}

.footer_subscribe_link_text {
  color: #fff;
  /*border: 2px solid #fff;*/
}

.footer_address_wrapper {
  border: 2px solid #fff;
  height: 150px;
}

.address {
  color: #f1f1f1;
  display: inline;
}

.email {
  font-size: 12px;
  color: #f1f1f1;
}

.email_link {
  display: block;
}

.copyright_text {
  color: #f1f1f1;
  margin: 10px;
  font-size: 10px;
}

.footer_partners_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  border-top: 1px solid rgba(225,225,225,.3);
  border-bottom: 1px solid rgba(225,225,225,.3);
}

.footer_partners_list_item {
  display: inline;
}

.footer_partners_link {
  text-decoration: none;
}

.footer_partners_img {
  height: 40px;
  width: 40px;
  margin: 10px 100px 10px 100px;
}

#aws_img {
  height: 30px;
  width: 160px;
  /*margin-bottom: 30px;*/
}

#fbstart_img {
  height: 30px;
  width: 130px;
}

#wework_img {
  width: 110px;
}

.subscribe_popup_wrapper {
  position: fixed;
  top: 10%;
  left: 36%;
  height: 270px;
  width: 470px;
  z-index: 4;
  background-color: #66ccff;
  display: none;
}

#subscribe_popup_close {
  position: relative;
  top: 5px;
  left: 440px;
}

.press_subscribe_popup_wrapper {
  position: fixed;
  top: 10%;
  left: 36%;
  height: 270px;
  width: 470px;
  z-index: 4;
  background-color: #ff738e;
  display: none;
}

#press_subscribe_popup_close {
  position: relative;
  top: 5px;
  left: 440px;
}


.signup_page_logo {
  height: 700px;
  width: 700px;
  margin: 100px 100px;
  background-color: rgba(255,255,255,.7);
  z-index: -1;
  position: absolute;
  top: 100px;
  left: 300px;
  opacity: .9;
}


@media (max-width: 1440px) {

  .footer_site_links_list {
    margin: 10px 75px 0 0;
    right: -20%;
  }

  .footer_partners_img {
    height: 40px;
    width: 40px;
    margin: 10px 60px 10px 60px;
  }

  #aws_img {
    height: 30px;
    width: 170px;
    margin-bottom: 6px;
  }

  #fbstart_img {
    height: 30px;
    width: 130px;
    margin-bottom: 10px;
  }

  #wework_img {
    width: 120px;
  }

}


.privacy_subheading, .privacy_text, .terms_heading, .terms_text {
  color: #66ccff;
}

@media (max-width: 1680px) {

  .footer_partners_img {
    margin: 10px 80px 10px 80px;
  }

  .footer_social_links_list {
    right: -100px;
  }

}

@media (max-width: 1440px) {

  .tech_section_left {
    margin: 0 80px 0 100px;
  }

  .tech_section_center {
    width: 250px;
    margin: 0 25px 0 50px;
  }

  .footer_partners_img {
    margin: 10px 60px 10px 60px;
  }

  .footer_social_links_list {
    right: -250px;
  }

}

@media (max-width: 1280px) {

  .tech_section_left {
    margin: 0 20px 0 100px;
  }

  .tech_section_center {
    width: 200px;
  }

  .tech_section_right {
    margin: 0 50px 0 0;
  }

  .flight_stats {
    height: 40px;
  }

  .footer_partners_img {
    margin: 10px 50px 10px 50px;
  }

  .footer_social_links_list {
    right: -120px;
  }

}

@media (max-width: 415px) {

  p {
    line-height: 1.7;
  }

  .burger_menu_img {
    height: 50px;
    width: 50px;
  }

  .tech_page_header {
    height: 750px;
  }

  .tech_page_header_subcontainer {
    width: 300px;
    height: 400px;
  }

  .tech_page_header_img_2 {
    height: 50px;
    width: 50px;
  }

  .tech_page_header_text {
    line-height: 1.7;
  }

  .tech_page_section {
    height: 980px;
  }

  .tech_page_section_heading_img {
    height: 50px;
    width: 50px;
    margin: 20px 0;
  }

  .tech_section_left {
    width: 130px;
    margin: 0 20px 0 40px;
    padding: 0px;
  }

  .flight_stats {
    height: 25px;
  }

  .tech_section_center {
    width: 170px;
    height: 150px;
    margin: 0 0 0 10px;
    padding: 0;
  }

  .tech_page_whatisit_list_item {
    margin: 10px 0;
  }

  .tech_page_worldmate_img {
    margin-left: 10px;
    height: 20px;
  }

  .tech_section_right {
    width: 300px;
    display: block;
    margin: 10px auto;
  }

  .tech_section_slack {
    height: 380px;
  }

  .footer_bottom_subcontainer {
    height: 300px;
  }

  .footer_site_links {
    margin: 0 0 0 0;
    display: block;
    height: 200px;
  }

  .footer_site_links_list {
    padding: 0 0 0 10px;
    margin: 5px 5px 0 0;
  }

  .footer_site_links_list_item {
    margin: 20px 0 5px 0;
  }

  .address_ul {
    width: 90px;
    padding: 0;
    margin-left: 10px;
  }

  .email {
    font-size: 9px;
  }

  .footer_site_links_list_item_text {
    font-size: 9px;
    line-height: 1;
  }

  .footer_site_links_list_item_text_1 {
    font-size: 9px;
  }

  .footer_site_links_list > li {
    text-align: center;
  }


  .footer_logo_wrapper {
    text-align: center;
  }

  .footer_logo_img {
    height: 20px;
  }

  .footer_contact {
    float: none;
    display: block;
    width: 100vw;
  }

  .footer_header {
    margin: 10px 0 20px 0;
    font-size: 35px;
  }

  .footer_subscribe_link_text {
    border: none;
    margin: 0 35px 0 35px;
    line-height: 1;
  }

  .footer_address_wrapper {
    border: none;
  }

  .footer_social_links_list {
    position: relative;
    right: -40px;
    top: 0px;
  }


  .address_divider_1, .address_divider_2 {
    height: 50px;
    width: 350px;
    margin: 10px 0 10px 0;
  }

  .footer_social_links {
    margin: 40px 0 0 0;
  }

  .footer_social_link_img {
    height: 15px;
    width: 15px;
    margin: 0 30px 0px 30px;
  }

  .footer_partners_img {
    height: 20px;
    width: 20px;
    margin: 5px 10px 5px 10px;
  }

  #aws_img {
    width: 80px;
    height: 20px;
  }

  #fbstart_img {
    height: 20px;
    width: 70px;
  }

  #wework_img {
    height: 25px;
    width: 50px;
  }

  .footer_copyright_wrapper {
    display: block;
  }

  .copyright_text {
    /*margin: 40px 0 0 0;*/
    font-size: 8px;
  }



  .signup_page_logo {
    height: 350px;
    width: 350px;
    margin: 100px 30px;
    left: 50px;
  }

  .subscribe_popup_wrapper_2 {
    margin: 50px auto;
  }



}

@media (max-width: 375px) {

  .tech_page_header_subcontainer {
    padding: 15px;
    width: 250px;
    height: 430px;
  }

  .tech_section_left {
    margin: 0 10px 0 40px;
  }

  .footer_bottom_subcontainer {
    height: 290px;
  }

  .footer_site_links {
    margin: 0;
    padding: 5px;
  }

  .address_ul {
    width: 80px;
  }

  .footer_site_links_list {
    padding: 0;
  }

  .footer_site_links_list_item_text {
    font-size: 9px;
    line-height: 1;
  }

  .footer_site_links_list_item_text_1 {
    font-size:  8px;
  }

  .footer_social_links {
    margin: 55px 0 0 0;
  }

  .footer_social_links_list {
    right: -25px;
  }

  .footer_partners_img {
    margin: 5px 8px 5px 8px;
  }

  #aws_img {
    width: 70px;
  }

  #fbstart_img {
    width: 60px;
  }

  .copyright_text {
    /*margin: 60px 0 0 0;*/
  }

}

@media (max-width: 360px) {

  .tech_section_left {
    width: 100px;
    margin: 0 10px 0 10px;
  }

  .tech_section_center {
    margin: 0 0 0 20px;
  }

  .flight_stats {
    height: 20px;
  }

  .footer_bottom_subcontainer {
    height: 280px;
  }

  .footer_site_links_list_item_text {
    font-size: 9px;
    margin: 6px 0 10px 0;
    line-height: 1;
  }

  .footer_partners_img {
    margin: 5px;
  }

  .copyright_text {
    line-height: 1;
    margin: 8px;
  }

}



/*body .theme-app #mailmunch-optin-form {
  width: 1000px;
  margin: 0 auto;
}*/
