
body {
  /*background-image: url("../images/backgrounds/swirl_bg_3.jpg");*/
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
  /*background-size: cover;*/
}

h1, h2, h3 {
  /*color: #66ccff;*/
  color: #ffffff;
}

p {
  line-height: 1.5;
  color: #ffffff;
}

.tech_page_header {
  /*border: 1px solid blue;*/
  height: 650px;
  text-align: center;
  margin: 20px 0 0px 0px;
  background-image: url("../images/backgrounds/swirl_bg_3.jpg");
}

.tech_page_header_subcontainer {
  /*border: 1px solid purple;*/
  display: inline-block;
  width: 750px;
  height: 350px;
  padding: 30px;
  display: block;
  margin: 0 auto;
  background-color: rgba(255,255,255,.7);
  /*border-radius: 5px;*/
  /*box-shadow: 1px 1px 2px;*/
}

.tech_page_heading {
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #fffff;
  /*background-color: rgba(255,255,255,1);*/
}

.tech_page_heading_main {
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #66ccff;
  /*background-color: rgba(255,255,255,1);*/
}

.tech_page_header_img {
  height: 150px;
  border-radius: 20%;
  margin: 40px;
}

.tech_page_header_img_2 {
  height: 70px;
  width: 70px;
  margin: 15px;
}

.tech_page_header_text {
  line-height: 2;
  color: #66ccff;
}

.tech_page_section {
  /*border: 1px solid blue;*/
  height: 600px;
  text-align: center;
  /*margin: 10px 0;*/
}

.tech_section_1 {
  /*background-color: #66ccff;*/
  border-top: 1px solid #66ccff;
}

.tech_heading_1, .tech_subheading_1, .tech_subheading_1a, .tech_subheading_1b {
  color: #66ccff;
}

.tech_heading_2, .tech_subheading_2, .tech_subheading_2a, .tech_subheading_2b {
  color: #ff738e;
}

.tech_heading_3, .tech_subheading_3, .tech_subheading_3a, .tech_subheading_3b {
  color: #4be4c4;
}

.tech_heading_4, .tech_subheading_4, .tech_subheading_4a, .tech_subheading_4b {
  color: #66ccff;
}

.tech_heading_5, .tech_subheading_5, .tech_subheading_5a, .tech_subheading_5b {
  color: #ff738e;
}

.tech_text_1, .tech_text_1a {
  color: #66ccff;
}

.tech_text_2, .tech_text_2a {
  color: #ff738e;
}

.tech_text_3, .tech_text_3a {
  color: #4be4c4;
}

.tech_text_4, .tech_text_4a {
  color: #66ccff;
}

.tech_text_5, .tech_text_5a {
  color: #ff738e;
}

.tech_section_2 {
  /*background-color: #ff738e;*/
  border-top: 1px solid #ff738e;
}

.tech_section_3 {
  /*background-color: #4be4c4;*/
  border-top: 1px solid #4be4c4;
}

.tech_section_4 {
  /*background-color: #66ccff;*/
  border-top: 1px solid #66ccff;
}

.tech_section_5 {
  /*background-color: #ff738e;*/
  border-top: 1px solid #ff738e;
}

.tech_page_section_heading_container {
  /*background-color: rgba(255,255,255,.9);*/
  display: block;
  /*margin: 10px;*/
}

.tech_page_section_heading_img {
  height: 70px;
  width: 70px;
  /*background-color: rgba(75,228,196,.7);*/
  /*background-color: rgba(255,255,255,1);*/
  border: 1px soild red;
  border-radius: 20%;
  margin: 30px;
  /*padding: 10px;*/
}

.tech_section_left {
  /*border: 1px solid black;*/
  display: inline-block;
  width: 110px;
  height: 100px;
  margin: 0 50px 0 5px;
  vertical-align: top;
  padding: 20px;
  /*background-color: rgba(255,255,255,1);*/
  /*border-radius: 50%;*/
  /*box-shadow: 1px 1px 2px;*/
  text-align: center;
}

.tech_page_section_img_main {
  height: 50px;
}

.text_mask_1 {
  border: 1px solid red;
  height: 300px;
  width: 510px;
  z-index: 2;
  margin: 0;
  position: relative;
  top: -296px;
  left: -30px;
}

.text_mask_2 {
  border: 1px solid red;
  height: 361px;
  width: 460px;
  z-index: 2;
  margin: 0;
  position: relative;
  top: -321px;
  left: -30px;
}

.tech_section_center {
  /*border: 1px solid green;*/
  width: 450px;
  height: 240px;
  display: inline-block;
  margin: 0 50px 0 50px;
  padding: 30px;
  vertical-align: top;
  /*background-color: rgba(255,255,255,1);*/
  /*background-color: rgba(75,258,196,.7);*/
  /*border-radius: 5px;*/
  /*box-shadow: 1px 1px 2px;*/
}


.tech_section_right {
  /*border: 1px solid red;*/
  width: 400px;
  height: 300px;
  display: inline-block;
  margin: 0 50px 0px 50px;
  padding: 30px;
  /*background-color: rgba(255,255,255,1);*/
  /*border-radius: 5px;*/
  /*box-shadow: 1px 1px 2px;*/
}



.footer_bottom_subcontainer {
  height: 290px;
  /*border: 1px solid yellow;*/
  background-color: #545454;
  z-index: 1;
}

.footer_site_links {
  height: 250px;
  /*border: 1px solid red;*/
  display: block;
  padding: 10px 0 0 0;
  margin: 0 40px 0 40px;
}

.address_ul {
  width: 150px;
}

.footer_logo_img {
  height: 35px;
}

.footer_logo_wrapper {
  text-align: justify;
}

.footer_site_links_list {
  list-style: none;
  padding: 0 0 0 0px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 160px 0 0px;
}

.footer_site_links_list > li {
  text-align: justify;
}

.footer_site_link {
  text-decoration: none;
}

.footer_site_links_list_item_text {
  color:  #f1f1f1;
  margin: 10px 0 10px 0;
  font-size: 12px;
  font-weight: 100 !important;
}


.footer_site_links_list_item_text_1 {
  font-size: 12px;
  color: #ffffff;
}

.footer_social_links {
  margin: 20px 0 0 0;
}

.footer_social_links_list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  position: relative;
  right: -280px;
}

.footer_social_links_list_item {
  display: inline;
}

.footer_social_link_img {
  height: 20px;
  width: 20px;
  margin: 0 15px 0 15px;
}

.footer_subscribe_link_text {
  color: #fff;
  /*border: 2px solid #fff;*/
}

.footer_address_wrapper {
  border: 2px solid #fff;
  height: 150px;
}

.address {
  color: #f1f1f1;
  display: inline;
}

.email {
  font-size: 12px;
  color: #f1f1f1;
}

.email_link {
  display: block;
}

.copyright_text {
  color: #f1f1f1;
  margin: 10px;
  font-size: 10px;
}

.footer_partners_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  border-top: 1px solid rgba(225,225,225,.3);
  border-bottom: 1px solid rgba(225,225,225,.3);
}

.footer_partners_list_item {
  display: inline;
}

.footer_partners_link {
  text-decoration: none;
}

.footer_partners_img {
  height: 40px;
  width: 40px;
  margin: 10px 100px 10px 100px;
}

#aws_img {
  height: 30px;
  width: 160px;
  /*margin-bottom: 30px;*/
}

#fbstart_img {
  height: 30px;
  width: 130px;
}

#wework_img {
  width: 110px;
}

@keyframes .tech_section_center {

}
