/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - Main Style file
 * Author:  https://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Base Styles
  1.1. Reset
  1.2. Layout
2. Global Styles
  2.1. General Styles
  2.2. Form Elements
  2.3. Buttons
  2.4. Message box
  2.5. Table
  2.6. Design Elements
  2.7. Toggle & Accordion
  2.8. Blog Posts
  2.9. Sticky Notes
  2.10. Social Icons
  2.11. Callout Box
3. Header
  3.1. Main Header
  3.2. Slideshow
  3.3. Page Title Container
  3.4. Main Menu
  3.5. Mobile Menu
4. Main Content
  4.1. Galleries
  4.2. Icon Box
  4.3. Banner
  4.4. Process Builder
  4.5. Post Slider
  4.6. Pricing table
  4.7. Progress Bar
  4.8. Style Changer
  4.9. Tab
  4.10. Team
  4.11. Testimonial
5. Footer
6. Page Content
  6.1. Standard Pages
  6.2. Portfolio Pages
  6.3. Blog Pages
  6.4. Homepage
  6.5. WooCommerce Pages
*/

/*html {
  font-size: 16px;
  min-height: 100%;
  overflow-x: hidden !important; }*/

body {
  /*font: 75%/150% "Open Sans", Arial, Helvetica, sans-serif;*/
  /*background-color: #fff;*/
  /*color: #939faa;*/
  /*overflow-x: hidden !important;*/
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
  /*oveflow-y: scroll;*/ }



a {
  text-decoration: none;
  color: inherit; }

/*a:hover, a:focus {
  text-decoration: none;
}*/

a:focus {
  outline: none; }


/*
dt {
  font-weight: normal; }*/
