/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - Main Style file
 * Author:  https://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Base Styles
  1.1. Reset
  1.2. Layout
2. Global Styles
  2.1. General Styles
  2.2. Form Elements
  2.3. Buttons
  2.4. Message box
  2.5. Table
  2.6. Design Elements
  2.7. Toggle & Accordion
  2.8. Blog Posts
  2.9. Sticky Notes
  2.10. Social Icons
  2.11. Callout Box
3. Header
  3.1. Main Header
  3.2. Slideshow
  3.3. Page Title Container
  3.4. Main Menu
  3.5. Mobile Menu
4. Main Content
  4.1. Galleries
  4.2. Icon Box
  4.3. Banner
  4.4. Process Builder
  4.5. Post Slider
  4.6. Pricing table
  4.7. Progress Bar
  4.8. Style Changer
  4.9. Tab
  4.10. Team
  4.11. Testimonial
5. Footer
6. Page Content
  6.1. Standard Pages
  6.2. Portfolio Pages
  6.3. Blog Pages
  6.4. Homepage
  6.5. WooCommerce Pages

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - SCSS Mixin
 * Author:  https://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1) BORDER RADIUS
2) OPACITY
3) BACKGROUND GRADIENT
4) BOX SHADOW
5) TEXT SHADOW
6) TRANSITION
7) ANIMATION
8) TRANSFORM
9) DESATURATE
10) RETINA
11) GRADIENT IMAGE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1) BORDER RADIUS */
/* 2) OPACITY */
/* 3) BACKGROUND GRADIENT */
/* 4) BOX SHADOW */
/* 5) TEXT SHADOW */
/* 6) TRANSITION */
/* 7) ANIMATION */
/* 8) TRANSFORM */
/* 9) DESATURATE */
/* 10) RETINA */
/* 11) GRADIENT IMAGE */
/* 1. Base Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 1.1. Reset ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - Basic Style
 * Author:  https://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1) Reset
2) Heading
3) Lists
4) Contents
5) Table
6) HTML5 & CSS3 Styles for older browsers
7) Tools
8) Color

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*
 * Title:   Miracle | Responsive Multi-Purpose HTML5 Template - SCSS Variables for style customization
 * Author:  https://themeforest.net/user/soaptheme
 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[Table of contents]

1. Global
2. Skin colors
3. Skin logos
4. Important colors
5. Skin 1
6. Skin 2
7. Skin 3
8. Skin 4
9. Skin 5
10. Skin 6
11. Skin 7
12. Skin 8
13. Skin 9
14. Skin 10

*/

html {
  font-size: 16px;
  min-height: 100%;
  overflow-x: hidden !important; }

body {
  /*font: 75%/150% "Open Sans", Arial, Helvetica, sans-serif;*/
  background-color: #fff;
  color: #939faa;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
  /*oveflow-y: scroll;*/ }

iframe, img {
  border: 0; }

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: top; }

a {
  text-decoration: none;
  color: inherit; }

a:hover, a:focus {
  text-decoration: none;
  color: #00a2ee; }

a:focus {
  outline: none; }

/*p {
  font-size: 1.0833em;
  line-height: 1.8;
  margin-bottom: 15px; }*/

.text {
  font-size: 1.0833em;
  margin-bottom: 15px;
 }
  .text p {
    font-size: 1em;
  }
  .text > *:last-child {
    margin-bottom: 0;
  }

dt {
  font-weight: normal; }

/* 2) Heading */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-weight: 300;
  color: #1b4268; }

h4, h5, h6 {
  font-weight: 400; }

h5, h6 {
  margin-bottom: 10px; }

h1 {
  font-size: 2.5em;
  line-height: 1.25em; }

h2 {
  font-size: 2em;
  line-height: 1.25em; }

h3 {
  font-size: 1.6667em;
  line-height: 1.2222em; }

h4 {
  font-size: 1.3333em;
  line-height: 1.25em; }

h5 {
  font-size: 1.1666em;
  line-height: 1.1428em; }

h6 {
  font-size: 1.0833em; }

/* 3) Lists */
ol, ul {
  list-style: none;
  margin: 0; }

/* 4) Contents */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #00a2ee; }

small {
  font-size: 0.8333em; }

/* 5) Table */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 6) HTML5 & CSS3 Styles for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* 7) Tools */
.clearer {
  clear: both !important;
  padding: 0 !important;
  margin: 0 !important; }

.hidden {
  display: block !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important; }

.nobr {
  white-space: nowrap !important; }

.wrap {
  white-space: normal !important; }

.no-display {
  display: none; }

.no-float {
  float: none !important; }

.no-margin {
  margin: 0 !important; }

.no-bmargin {
  margin-bottom: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-lpadding {
  padding-left: 0 !important; }

.no-rpadding {
  padding-right: 0 !important; }

.no-border {
  border: none !important; }

.no-bg {
  background: none !important; }

.full-width {
  width: 100% !important; }

.width-auto {
  width: auto !important; }

img.full-width {
  height: auto; }

.uppercase {
  text-transform: uppercase; }

.fourty-space {
  letter-spacing: .04em !important; }

.underline {
  text-decoration: underline !important; }

.inline-block {
  display: inline-block !important; }

.visible-sms {
  display: none; }

.no-letter-spacing {
  letter-spacing: normal !important; }

.font-light {
  font-weight: 300 !important; }

.font-normal {
  font-weight: 400 !important; }

.fontsize-lg {
  font-size: 1.3333em;
  line-height: 1.5; }

p.fontsize-lg {
  line-height: 1.8; }

.overflow-hidden {
  overflow: hidden; }

.full-height {
  height: 100%; }

/* 8) Color */
.skin-color {
  color: #00a2ee !important; }

.skin-bg {
  background-color: #00a2ee !important; }

.skin-bg-alpha {
  background-color: rgba(0, 162, 238, 0.75) !important; }

.color-blue {
  color: #1b4268 !important; }

.color-light-blue {
  color: #455b79 !important; }

.color-white {
  color: #fff !important; }

.hover-color-skin:hover {
  color: #00a2ee !important; }

.hover-color-blue:hover {
  color: #1b4268 !important; }

.custom-font1, .banner-slider .banner-text .banner-title, .post-slider.style1 .banner-text .banner-title, .post-slider.style5 .banner-text .banner-title, .brand-slider .banner-text .banner-title, .image-banner .caption-wrapper.position-left .captions, .image-banner .caption-wrapper.position-right .captions, .image-banner .caption-wrapper.position-middle .captions, .pricing-table .currency-symbol, .counters-box.style2 dt, .testimonial.style1 .testimonial-content, .brand-section .caption-wrapper.style2 .caption, .brand-section .caption-wrapper.style3 .caption, .brand-section.style1 .caption-wrapper .caption, .brand-section.style2 .caption-wrapper .caption {
  font-family: Playfair Display; }

.custom-font2, .page-title-container .banner .caption .caption-lg, .page-title-container.style6 .caption .caption-xl, .brand-section .caption-wrapper .caption {
  font-family: Open Sans Condensed; }

.custom-font3, .post-slider.style4 .caption.size-lg, .parallax .caption.size-lg, #header .logo, #nav > ul > li > a, .mobile-nav, .error404 .error-message-404 span, .coming-soon-page .error-message-404 span, .blank-page .error-message-404 span, .coming-soon-page .clock, .page-loading-wrapper header .logo {
  font-family: Dosis; }

/* 1.2. Layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#page-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 0; }

.box-sm {
  margin-bottom: 20px; }

.box-md, .box {
  margin-bottom: 30px; }

.box-lg {
  margin-bottom: 40px; }

.box-xl, .block {
  margin-bottom: 60px; }

article {
  margin-bottom: 30px; }

.block:after {
  content: "";
  display: table;
  clear: both; }

#content {
  padding: 70px 0 0;
  min-height: 300px;
  border-top: 1px solid #66ccff;}
  #content > .container > .section:first-child, #content #main > .section:first-child, #content > .section:first-child {
    padding-top: 0; }

#main {
  margin: 0 0 10px 10px; }
  #main > .section:first-child {
    padding-top: 0; }

.sidebar {
  margin-bottom: 60px; }

.section {
  padding: 80px 0 70px; }
  .section.has-border {
    border-bottom: 1px solid #edf6ff; }
  .section:last-child {
    border-bottom: none; }





/* 2.7. Toggle & Accordion ~~~~~~~~~~~~~~~~~~~~~~~~~ */
.panel-group .panel-title {
  font-size: 1.1667em;
  line-height: 20px; }
  .panel-group .panel-title a {
    white-space: normal;
    display: block;
    padding: 15px 30px; }
    .panel-group .panel-title a.active .open-sub:after {
      display: none; }
  .panel-group .panel-title .open-sub {
    display: block;
    position: relative; }
    .panel-group .panel-title .open-sub:before, .panel-group .panel-title .open-sub:after {
      content: "";
      display: block;
      position: absolute; }
    .panel-group .panel-title .open-sub:before {
      height: 1px;
      top: 50%;
      margin-top: -0.5px;
      left: 50%; }
    .panel-group .panel-title .open-sub:after {
      width: 1px;
      left: 50%;
      margin-left: -0.5px;
      top: 50%; }
.panel-group h2.panel-title {
  font-size: 2em; }
.panel-group h3.panel-title {
  font-size: 1.6667em; }
.panel-group h4.panel-title {
  font-size: 1.3333em; }
.panel-group h6.panel-title {
  font-size: 1.0833em; }
.panel-group .panel-content {
  padding: 10px 30px 20px; }
  .panel-group .panel-content > *:last-child {
    margin-bottom: 0; }
.panel-group .panel {
  box-shadow: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  border: none;
  margin-bottom: 0;
  position: relative; }
  .panel-group .panel + .panel {
    margin-top: 1px; }
  .panel-group .panel.style1 .panel-title a:hover, .panel-group .panel.style2 .panel-title a:hover, .panel-group .panel.style3 .panel-title a:hover, .panel-group .panel.style4 .panel-title a:hover, .panel-group .panel.style5 .panel-title a:hover {
    color: #00a2ee; }
  .panel-group .panel.style1 .panel-title .open-sub, .panel-group .panel.style2 .panel-title .open-sub {
    float: right; }
  .panel-group .panel.style1 .panel-title a, .panel-group .panel.style2 .panel-title a {
    background: #edf6ff; }
    .panel-group .panel.style1 .panel-title a.active, .panel-group .panel.style2 .panel-title a.active {
      color: #00a2ee;
      background: none; }
  .panel-group .panel.style1 .panel-title .open-sub {
    width: 11px;
    height: 11px;
    margin-top: 4.5px; }
    .panel-group .panel.style1 .panel-title .open-sub:before, .panel-group .panel.style1 .panel-title .open-sub:after {
      background: #939faa; }
    .panel-group .panel.style1 .panel-title .open-sub:before {
      left: 0;
      width: 100%; }
    .panel-group .panel.style1 .panel-title .open-sub:after {
      top: 0;
      bottom: 0;
      height: 100%; }
  .panel-group .panel.style2 .panel-title .open-sub, .panel-group .panel.style3 .panel-title .open-sub {
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%; }
    .panel-group .panel.style2 .panel-title .open-sub:before, .panel-group .panel.style2 .panel-title .open-sub:after, .panel-group .panel.style3 .panel-title .open-sub:before, .panel-group .panel.style3 .panel-title .open-sub:after {
      background: #939faa; }
    .panel-group .panel.style2 .panel-title .open-sub:before, .panel-group .panel.style3 .panel-title .open-sub:before {
      width: 7px;
      margin-left: -3.5px; }
    .panel-group .panel.style2 .panel-title .open-sub:after, .panel-group .panel.style3 .panel-title .open-sub:after {
      bottom: 0;
      height: 7px;
      margin-top: -3.5px; }
  .panel-group .panel.style2 .panel-title a.active .open-sub, .panel-group .panel.style3 .panel-title a.active .open-sub {
    background: #00a2ee; }
    .panel-group .panel.style2 .panel-title a.active .open-sub:before, .panel-group .panel.style2 .panel-title a.active .open-sub:after, .panel-group .panel.style3 .panel-title a.active .open-sub:before, .panel-group .panel.style3 .panel-title a.active .open-sub:after {
      background: #fff; }
  .panel-group .panel.style3 + .panel {
    margin-top: 10px; }
  .panel-group .panel.style3 .panel-title a {
    background: #edf6ff;
    color: inherit; }
  .panel-group .panel.style3 .panel-title a.active, .panel-group .panel.style3 .panel-content {
    background: #00a2ee;
    color: #fff; }
  .panel-group .panel.style3 .panel-title .open-sub {
    float: left;
    margin-right: 15px; }
  .panel-group .panel.style3 .panel-title a.active .open-sub {
    background: #fff; }
    .panel-group .panel.style3 .panel-title a.active .open-sub:before, .panel-group .panel.style3 .panel-title a.active .open-sub:after {
      background: #00a2ee; }
  .panel-group .panel.style3 .panel-content {
    padding-left: 65px;
    padding-right: 15px; }
  .panel-group .panel.style4 + .panel {
    margin-top: 7px; }
  .panel-group .panel.style4 .panel-title a {
    padding-top: 0;
    padding-left: 0;
    line-height: 32px; }
    .panel-group .panel.style4 .panel-title a .open-sub {
      float: left;
      margin-right: 20px;
      width: 32px;
      height: 32px;
      background: none;
      -webkit-border-radius: 50% 50% 50% 50%;
      -moz-border-radius: 50% 50% 50% 50%;
      -ms-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%;
      border: 1px solid #d4dde5; }
      .panel-group .panel.style4 .panel-title a .open-sub:before, .panel-group .panel.style4 .panel-title a .open-sub:after {
        background: #d4dde5; }
      .panel-group .panel.style4 .panel-title a .open-sub:before {
        width: 7px;
        margin-left: -3.5px; }
      .panel-group .panel.style4 .panel-title a .open-sub:after {
        bottom: 0;
        height: 7px;
        margin-top: -3.5px; }
    .panel-group .panel.style4 .panel-title a.active {
      color: #00a2ee; }
      .panel-group .panel.style4 .panel-title a.active .open-sub {
        background: #00a2ee;
        border-color: #00a2ee; }
        .panel-group .panel.style4 .panel-title a.active .open-sub:before, .panel-group .panel.style4 .panel-title a.active .open-sub:after {
          background: #fff; }
  .panel-group .panel.style4 .panel-content {
    padding: 0 10px 10px 55px;
    word-break: break-all; }
  .panel-group .panel.style5 {
    border: 1px solid #edf6ff;
    border-bottom: none; }
    .panel-group .panel.style5 + .panel {
      margin-top: 1px; }
    .panel-group .panel.style5 .panel-title a {
      padding: 0;
      line-height: 50px; }
      .panel-group .panel.style5 .panel-title a .open-sub {
        width: 36px;
        float: left;
        margin-right: 25px;
        height: 50px;
        background: #edf6ff; }
        .panel-group .panel.style5 .panel-title a .open-sub:before, .panel-group .panel.style5 .panel-title a .open-sub:after {
          background: #939faa; }
        .panel-group .panel.style5 .panel-title a .open-sub:before {
          width: 11px;
          left: 50%;
          margin-left: -5.5px; }
        .panel-group .panel.style5 .panel-title a .open-sub:after {
          height: 11px;
          top: 50%;
          margin-top: -5.5px; }
      .panel-group .panel.style5 .panel-title a.active {
        color: #00a2ee; }
    .panel-group .panel.style5 .panel-content {
      border-top: 1px solid #edf6ff;
      padding: 15px 15px 15px 40px; }
    .panel-group .panel.style5:last-child {
      border-bottom: 1px solid #edf6ff; }
  .panel-group .panel.style6 {
    background: #edf6ff; }
    .panel-group .panel.style6 .panel-title a.active, .panel-group .panel.style6 .panel-title a:hover {
      color: #1b4268; }


/* 3. Header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* 3.3. Page Title Container ~~~~~~~~~~~~~~~~~~~~~~~ */
.page-title-container {
  background: url("../../images/backgrounds/swirl_bg_4.jpg");
  position: relative;
  overflow: visible;
  background-size: cover;}
  .page-title-container .entry-title {
    font-weight: 300;
    font-size: 1.6em;
    /*color: #343434;*/
    color: #66ccff;
    text-align: center;
    background-color: rgba(255,255,255,.92);
    }
  .page-title-container .page-title {
    padding: 120px 0 25px; }
  .page-title-container .breadcrumbs {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    background: #fff;
    -webkit-border-radius: 18px 18px 18px 18px;
    -moz-border-radius: 18px 18px 18px 18px;
    -ms-border-radius: 18px 18px 18px 18px;
    border-radius: 18px 18px 18px 18px;
    padding: 0 25px;
    white-space: nowrap;
    border: 1px solid #66ccff;}
    .page-title-container .breadcrumbs li {
      display: inline-block;
      line-height: 36px;
      font-size: 0.8333em;
      text-transform: uppercase;
      margin-left: 5px;
      color: #ff738e;}
      .page-title-container .breadcrumbs li:first-child {
        margin-left: 0; }
      .page-title-container .breadcrumbs li a {
        padding-right: 5px; }
      .page-title-container .breadcrumbs li:after {
        content: "-"; }
      .page-title-container .breadcrumbs li:last-child:after {
        content: ""; }
      .page-title-container .breadcrumbs li.active {
        color: #00a2ee; }
  .page-title-container .banner {
    background-repeat: no-repeat;
    padding: 120px 0;
    background-position: center top; }
    .page-title-container .banner .container {
      height: 100%; }
    .page-title-container .banner .caption-wrapper {
      height: 100%;
      text-align: center;
      max-width: 50%;
      padding: 0; }
      .page-title-container .banner .caption-wrapper.position-right {
        float: right; }
      .page-title-container .banner .caption-wrapper:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
    .page-title-container .banner .caption {
      display: inline-block;
      vertical-align: middle;
      max-width: 98%; }
      .page-title-container .banner .caption .caption-lg {
        font-size: 8.3333em;
        font-weight: 300;
        color: #fff; }
      .page-title-container .banner .caption .caption-sm {
        font-weight: 600;
        font-size: 1.1667em;
        color: #00a2ee; }
  .page-title-container.style2 {
    background: url("https://placehold.it/1920x240") no-repeat; }
    .page-title-container.style2 .entry-title {
      color: #fff; }
  .page-title-container.style3 {
    background-image: url("https://placehold.it/1920x358");
    background-size: cover; }
  .page-title-container.style4 .banner {
    height: 682px;
    background-image: url("https://placehold.it/1920x684"); }
  .page-title-container.style4 .caption {
    text-transform: none; }
  .page-title-container.style5 .banner {
    height: 682px;
    background-image: url("https://placehold.it/1920x1280"); }
  .page-title-container.style5 .caption {
    text-transform: none; }
    .page-title-container.style5 .caption .caption-lg {
      font-size: 5.8333em;
      color: #00a2ee;
      line-height: 1.1667em; }
    .page-title-container.style5 .caption .caption-sm {
      color: #343434; }
  .page-title-container.style6 .banner {
    height: 682px;
    background-image: url("https://placehold.it/1920x812"); }
  .page-title-container.style6 .caption {
    text-transform: none; }
    .page-title-container.style6 .caption [class^="caption-"], .page-title-container.style6 .caption [class*=" caption-"] {
      color: #343434;
      line-height: 1em; }
    .page-title-container.style6 .caption .caption-xl {
      font-size: 10em; }
    .page-title-container.style6 .caption .caption-lg {
      font-size: 8.3333em;
      font-family: inherit; }
    .page-title-container.style6 .caption .caption-md {
      font-size: 1.6667em;
      letter-spacing: 0.04em; }
    .page-title-container.style6 .caption .caption-sm {
      font-size: 1.1667em;
      letter-spacing: 0.04em; }
  .page-title-container.style6 .social-icons .social-icon i {
    color: #fff;
    border-color: #fff; }
  .page-title-container.style6 .social-icons .social-icon:hover i {
    border-color: #00a2ee; }






/* faq page */
.faqs {
  border-bottom: 1px solid #edf6ff; }
  .faqs .panel + .panel {
    margin-top: 0; }
  .faqs .panel-title .open-sub {
    float: left;
    font-family: FontAwesome;
    text-align: center;
    font-size: 10px;
    width: 22px;
    height: 22px;
    line-height: 21px;
    border: 1px solid #d4dde5;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    text-indent: 1px;
    color: #d4dde5;
    margin-right: 30px;
    margin-bottom: 10px;}
    .faqs .panel-title .open-sub:before {
      position: static;
      display: inline;
      content: "\f067";
      height: auto;
      margin: 0; }
  .faqs .panel-title a {
    color: #1b4268;
    line-height: 1;
    padding: 25px 30px;
    border: .12px solid #66ccff;
    /*border: 1px solid #edf6ff;*/
    /*border-bottom: none;*/
    font-size: 15px;
    color: #66ccff;}
    .faqs .panel-title a.active {
      /*border-top: 1px solid #00a2ee;*/
      border-top: 1px solid #66ccff;}
      .faqs .panel-title a.active .open-sub {
        border-color: #00a2ee;
        background: #00a2ee;
        color: #fff; }
        .faqs .panel-title a.active .open-sub:before {
          content: "\f068"; }
  .faqs .panel-content {
    /*padding: 35px 40px;*/
    background: #66ccff;
    color: #ffffff;
    /*height: 70px;}*/








/**
 * EasyZoom core styles
 */
.easyzoom {
  position: relative;
  display: block;
  /* 'Shrink-wrap' the element */
  /*display: inline-block;
  *display: inline;
  *zoom: 1;*/ }

.easyzoom img {
  vertical-align: bottom; }

.easyzoom.is-loading img {
  cursor: progress; }

.easyzoom.is-ready img {
  cursor: crosshair; }

.easyzoom.is-error img {
  cursor: not-allowed; }

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 10px #888; }

.easyzoom-flyout {
  position: absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF; }

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px; }



  #content {
    background-color: #ffffff;
    border-top: 1px solid #66ccff;
    /*background-color: #66ccff;*/
  }

  p {
    color: #66ccff;
    /*color: #fff;*/
  }

  h3 {
    /*color: #fff;*/
    color: #66ccff;
    font-weight: bold;
    border-bottom: 1px solid #66ccff;
  }

  
