body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif;
}

h1, h3 {
  color: #ffffff;
}

a {
  text-decoration: none;
}


/*main styling*/



/*burger menu styling*/

.burger_menu_img_wrapper {
  position: fixed;
  /*position: absolute;*/
  display: inline-block;
  top: 15px;
  left: 15px;
  z-index: 11;
}

.burger_menu_img {
  height: 80px;
  width: 80px;
  display: inline-block;
  z-index: inherit;
}

.burger_menu_wrapper {
  /*background-color: rgba(0,0,0,0.25);*/
  /*position: fixed;*/
  top: 10px;
  left: 18px;
  display: inline-block !important;
  z-index: 3;
}

.burger_menu_list {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  list-style: none;
  width: 160px;
  height: 310px;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  margin: 0;
  padding: 90px 0 0 5px;
}

.burger_menu_list_item {
  margin-left: 22px;
}

.burger_menu_list_item > a {
  text-decoration: none;
}

.burger_menu_list_item > a > p{
  color: #fff;
  margin-left: 20px;
}

.menu_social_link_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu_social_link {
  display: inline;
}

.menu_social_link_img {
  height: 20px;
  width: 20px;
  margin: 8px;
}

/*burger menu styling*/




/*landing page*/

.main_container {
  background-image: url('../images/backgrounds/bg3a.jpg');
  background-size: cover;
  height: 95vh;
}

.main_logo_1, .main_logo_2 {
  display: block;
  margin: 200px 0 40px 150px;
}

.main_logo_1 {
  height: 180px;
}

.main_logo_2 {
  height: 60px;
}

.main_tagline {
  /*text-align: center;*/
  display: block;
  font-size: 30px;
  /*font-size: 70px;*/
  margin: 60px 0 60px 150px;
}

.countdown_container {
  /*width: 500px;*/
  /*display: inline-block;*/
  /*background-color: rgba(0,0,0,.5);*/
  vertical-align: top;
  margin-top: 10px;
}

#countdown {
  display: inline-block;
}

.countdown-amount, .countdown-period, .countdown_text {
  color: #ffffff;
  display: inline;
  margin: 2px 2px 0 2px;
  font-size: 25px;
  background-color: rgba(0,0,0,.5);
  border-radius: 3px;
}

.blurb_download_container {
  display: block;
  /*text-align: center;*/
  margin: 60px 0 60px 150px;
}

.blurb_container {
  display: inline-block;
  /*display: block;*/
  margin: 0 auto;
  /*border: 2px solid #ffffff;*/
  border-radius: 5px;
  width: 620px;
  height: 150px;
  vertical-align: top;
  background-color: rgba(0,0,0,.7);
  padding-top: 1px;
  /*background-color: #66ccff;*/
}

.blurb_text {
  color: white;
  font-size: 20px;
  line-height: 2;
  margin: 10px 20px 0 20px;
  text-align: justify;
}

.special_text_1 {
  /*color: #66ccff;*/
}

.special_text_2 {
  /*color: #ff738e;*/
}

.special_text_3 {
  /*color: #4be4c4;*/
}

.download_badges_wrapper {
  /*display: block;*/
  display: inline-block;
  text-align: center;
  width: 300px;
  /*border: 2px solid white;*/
  /*margin: 40px 0 40px 0;*/
}

.download_badges {
  margin: 10px;
  /*vertical-align: top;*/
}

/*.download_badges_main {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}*/

#download_badge_1 {
  /*margin: 10px 0px 10px 0;*/
  /*margin: 10px 130px 10px 0;*/
  height: 57px;
}

#download_badge_2 {
  height: 55px;
}

.download_badges {
  display: inline-block !important;
}


/*features page styling*/


.media_scroll {
  height: 150px;
  width: 100vw;
  overflow: hidden;
  background-color: #66ccff;
  z-index: 20;
  position: relative;
}

.media_scroll_list {
  list-style: none;
  width: 10000px;
  z-index: inherit;
}

.media_scroll_list_item {
  float: left;
  vertical-align: middle;
  width: 500px;
  margin: 15px 0px 0px 0px;
  text-align: center;
  z-index: inherit;
}

.media_scroll_list_item_img {
  z-index: inherit;
}

.adjust_list_item {
  margin-top: 20px;
}

.adjust_list_item_2 {
  margin-top: 15px;
}

.adjust_list_item_3 {
  margin-top: 30px;
}

#gma_list_item {
  /*margin-top:*/
}

#bustle_img, #maxim_img {
  height: 80px;
  width: 290px;
}

#bild_img {
  height: 100px;
}

#cnet_img {
  height: 100px;
  width: 100px;
}

#sun_img {
  height: 80px;
  width: 250px;
}

#mashable_img {
  height: 55px;
  width: 275px;
}

#maxim_img {
  height: 55px;
}

#gma_img {
  height: 90px;
  width: 290px;
}


/*under construction*/

.unknown_container {
  background-color: #ffffff;
  height: 12200px;
  border-bottom: 1px solid rgba(75,228,196,0.2);
}

/*team page*/

.team_container {
  text-align: center;
  /*height: 120vh;*/
  border-bottom: 1px solid rgba(75,228,196,0.2);
}

.team_header, .ambassador_heading {
  font-size: 50px;
  color: #66ccff;
  margin-top: 50px;
}

.team_list_1, .team_list_2, .team_list_3, .team_list_4 {
  padding: 0;
  margin: 40px 0 30px 0;
}

.team_list_item_box, .ambassador_list_item_box {
  /*text-align: center;*/
  width: 200px;
  height: 200px;
  margin: 0 100px 0 100px;
}

.team_list_item, .ambassador_list_item {
  vertical-align: top;
  display: inline-block;
  margin: 0;
}

.team_list_item_img, .ambassador_list_item_img {
  background-color: #ff738e;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  /*margin-bottom: 20px;*/
}

.new_team_img {
  padding: 20px;
  border-radius: 40%;
  height: 120px;
  width: 120px;
}

.team_box_special {
  margin: 20px 100px 20px 100px;
  /*border-radius: 50%;*/
}

.team_text, .ambassador_text {
  margin: 5px 0;
  font-size: 12px;
}

#new_team_member {
  margin: 0;
}

.flag_france::after {
  /*content: "\1F1eb\1f1f7";*/
  content: url('../images/icons/flags/france.svg');
}
.flag_italy::after {
  /*content: "\1F1ee\1f1f9";*/
  content: url('../images/icons/flags/italy.svg');
}
.flag_romania::after {
  /*content: "\1F1f7\1f1f4";*/
  content: url('../images/icons/flags/romania.svg');
}
.flag_bulgaria::after {
  /*content: "\1F1f5\1f1f1";*/
  content: url('../images/icons/flags/bulgaria.svg');
}
.flag_morocco::after {
  /*content: "\1F1f2\1f1e6";*/
  content: url('../images/icons/flags/morocco.svg');
}
.flag_jamaica::after {
  /*content: "\1F1ef\1f1f2";*/
  content: url('../images/icons/flags/jamaica.svg');
}
.flag_latvia::after {
  /*content: "\1F1f1\1f1fb";*/
  content: url('../images/icons/flags/latvia.svg');
}
.flag_slovenia::after {
  /*content: "\1F1f8\1f1ee";*/
  content: url('../images/icons/flags/slovenia.svg');
}
.flag_uk::after {
  /*content: "\1F1f8\1f1ee";*/
  content: url('../images/icons/flags/uk.svg');
}

/* ambassadors */

.ambassador_container {
  background-color: #ffffff;
  height: 550px;
  text-align: center;
}

.ambassador_list {
  /*padding: 0;*/
  margin: 30px 0 30px 0;
}

.ambassador_flag_1::after {
  content: url("../images/icons/flags/china.svg")
}

.ambassador_flag_2::after {
  content: url("../images/icons/flags/canada.svg")
}

.ambassador_flag_3::after {
  content: url("../images/icons/flags/ghana.svg")
}


/* ambassadors */



/*footer page*/


.footer_bottom_subcontainer {
  height: 270px;
  /*border: 1px solid yellow;*/
  background-color: #545454;
}

.footer_site_links {
  height: 250px;
  /*border: 1px solid red;*/
  display: block;
  padding: 10px 0 0 0;
  margin: 0 40px 0 40px;
}

.address_ul {
  width: 150px;
}

.footer_logo_img {
  height: 35px;
}

.footer_logo_wrapper {
  text-align: justify;
}

.footer_site_links_list {
  list-style: none;
  padding: 0 0 0 0px;
  display: inline-block;
  vertical-align: top;
  margin: 0px 160px 0 0px;
}

.footer_site_links_list > li {
  text-align: justify;
}

.footer_site_link {
  text-decoration: none;
}

.footer_site_links_list_item_text {
  color:  #f1f1f1;
  margin: 10px 0 10px 0;
  font-size: 12px;
  font-weight: 100 !important;
}

.footer_site_links_list_item_text_1 {
  font-size: 12px;
  color: #ffffff;
}

.footer_social_links {
  margin: 20px 0 0 0;
}

.footer_social_links_list {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
  position: relative;
  right: -280px;
}

.footer_social_links_list_item {
  display: inline;
}

.footer_social_link_img {
  height: 20px;
  width: 20px;
  margin: 0 15px 0 15px;
}

.footer_subscribe_link_text {
  color: #fff;
  /*border: 2px solid #fff;*/
}

.footer_address_wrapper {
  border: 2px solid #fff;
  height: 150px;
}

.address {
  color: #f1f1f1;
  display: inline;
}

.email {
  font-size: 12px;
  color: #f1f1f1;
}

.email_link {
  display: block;
}

.copyright_text {
  color: #f1f1f1;
  margin: 10px;
  font-size: 10px;
}

.footer_partners_list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  border-top: 1px solid rgba(225,225,225,.3);
  border-bottom: 1px solid rgba(225,225,225,.3);
}

.footer_partners_list_item {
  display: inline;
}

.footer_partners_link {
  text-decoration: none;
}

.footer_partners_img {
  height: 40px;
  width: 40px;
  margin: 10px 100px 10px 100px;
}

#aws_img {
  height: 30px;
  width: 160px;
  /*margin-bottom: 30px;*/
}

#fbstart_img {
  height: 30px;
  width: 130px;
}

#wework_img {
  width: 110px;
}

.subscribe_popup_wrapper {
  position: fixed;
  top: 20%;
  left: 36%;
  height: 270px;
  width: 470px;
  z-index: 30;
  background-color: #66ccff;
  display: none;
}

#subscribe_popup_close {
  position: relative;
  top: 5px;
  left: 440px;
}

.press_subscribe_popup_wrapper {
  position: fixed;
  top: 20%;
  left: 36%;
  height: 270px;
  width: 470px;
  z-index: 4;
  background-color: #ff738e;
  display: none;
}

#press_subscribe_popup_close {
  position: relative;
  top: 5px;
  left: 440px;
}

/*footer page*/


/*animation*/


.animation_master_container {
  margin-left: 100px;
  width: 1400px;
  height: 700px;
  top: 200px;
  left: 200px;
}

.animation_container {
  width: 400px;
  height: 700px;
  margin: 0 100px 0 300px;
  background-image: url('../images/screens/screen0.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.animation_text_container {
  width: 500px;
  height: 400px;
  margin: 0 40px;
  display: inline-block;
  overflow: hidden;
}

.mobile_on {
  display: none;
}

.animation_text_subcontainer > .slick-slide {
  height: 270px !important;
}

.animation_text_subcontainer > .slick-list {
  height: 270px !important;
}

.animation_text_list {
  list-style: none;
}

.animation_text_list_item {
  margin: 25px 0 30px 0;
}

#animation_text_list_item_last {
  margin: 100px 0 100px 0 !important;
}

.animation_text_heading {
  font-size: 50px;
  margin-bottom: 0px;
  color: #ff738e;
  padding: 5px;
  margin: 10px 0 5px 0;
  border-radius: 5px;
}

.animation_text {
  font-size: 20px;
  color: #66ccff;
  line-height: 1.7;
  padding: 5px;
  border-radius: 5px;
}

.animation_subcontainer {
  width: 274px;
  height: 486px;
  position: relative;
  top: 101px;
  left: 34px;
  overflow: hidden;
}

.animation_sheet_1 {
  height: 485px;
  width: 274px;
  position: absolute;
  left: 0px;
}

.animation_sheet_2{
  position: absolute;
  display: none;
  width: 274px;
  height: 486px;
}

.animation_sheet_3 {
  position: absolute;
  display: none;
  width: 840px;
  transform-origin: left top;
  background: #ff738e;
}

.animation_sheet_4 {
  position: absolute;
  display: none;
  width: 1130px;
  background: #4be4c4;
}


.animation_step_set_2, .animation_step_set_3, .animation_step_set_4 {
  position: absolute;
  left: 0px;
}

.animation_press_1 {
  z-index: 2;
  height: 25px;
  position: absolute;
  top: 23px;
  left: 115px;
}

.animation_press_2 {
  z-index: 2;
  height: 24px;
  position: absolute;
  top: 22px;
  left: 172px;
}

.animation_press_3 {
  z-index: 2;
  height: 25px;
  position: absolute;
  top: 23px;
  left: 163px;
  display: none;
}

.animation_press_4 {
  z-index: 2;
  height: 23px;
  position: absolute;
  top: 24px;
  left: 126px;
  display: none;
}

.animation_press_5 {
  z-index: 2;
  height: 30px;
  position: absolute;
  top: 22px;
  left: 230px;
  display: none;
}

.animation_press_6 {
  z-index: 2;
  height: 50px;
  position: absolute;
  top: 120px;
  left: 65px;
  display: none;
}

.animation_press_7 {
  z-index: 2;
  height: 45px;
  width: 45px;
  border: 3px solid #fed274;
  border-radius: 50%;
  background-color: rgba(254, 210, 116, .7);
  position: relative;
  top: 300px;
  left: 180px;
  display: none;
}

.animation_chat_box {
  z-index: 2;
  position: absolute;
  top: 70px;
  left: 290px;
  height: 360px;
  width: 250px;
  overflow: hidden;
}

.animation_press_chats {
  position: absolute;
  top: 0px;
}


.animation_press_9 {
  display: none;
  position: absolute;
  z-index: 5;
  top: 103px;
  left: 870px;
  background: #ff738e;
  border: 2px solid black;
  padding: 10px;
}

.animation_press_10 {
  z-index: 2;
  height: 33px;
  position: absolute;
  top: 404px;
  left: 425px;
  display: none;
}

.animation_press_11 {
  z-index: 2;
  height: 24px;
  position: absolute;
  top: 24px;
  left: 115px;
  display: none;
}

.animation_press_12 {
  z-index: 2;
  height: 23px;
  position: absolute;
  top: 24px;
  left: 172px;
  display: none;
}

.animation_press_13 {
  z-index: 2;
  height: 24px;
  position: absolute;
  top: 24px;
  left: 164px;
  display: none;
}

.animation_press_14 {
  z-index: 2;
  height: 24px;
  position: absolute;
  top: 24px;
  left: 126px;
  display: none;
}

.animation_press_15 {
  z-index: 2;
  height: 31px;
  position: absolute;
  top: 21px;
  left: 229px;
  display: none;
}

.animation_press_16 {
  z-index: 2;
  height: 46px;
  position: absolute;
  top: 122px;
  left: 68px;
  display: none;
}

.animation_press_17 {
  background-color: rgba(255, 255, 0, 0.5);
  border-radius: 50%;
  z-index: 2;
  height: 46px;
  width: 46px;
  position: absolute;
  top: 250px;
  left: 150px;
  display: none;
}

.animation_press_18 {
  z-index: 2;
  height: 24px;
  position: absolute;
  top: 23px;
  left: 103px;
  display: none;
}

.animation_press_19 {
  z-index: 2;
  height: 25px;
  position: absolute;
  top: 23px;
  left: 142px;
  display: none;
}

.animation_press_20 {
  z-index: 2;
  height: 25px;
  position: absolute;
  top: 23px;
  left: 89px;
  display: none;
}

.animation_press_21 {
  z-index: 2;
  height: 25px;
  position: absolute;
  top: 23px;
  left: 145px;
  display: none;
}

.animation_press_22 {
  z-index: 2;
  height: 70px;
  position: absolute;
  top: 223px;
  left: 384px;
  display: none;
}

.animation_press_23 {
  z-index: 2;
  height: 103px;
  width: 103px;
  border: 4px solid #ff738e;
  position: absolute;
  top: 190px;
  left: 642px;
  display: none;
}

@keyframes zoom {
  from {transform: scale(1,1);}
  to {transform: scale(1.7,1.7);}
}

@keyframes bulge {
  from {transform: scale(1,1);}
  to {transform: scale(3,3);}
}

@-webkit-keyframes bulge {
  from {transform: scale(1,1);}
  to {transform: scale(3,3);}
}

@-moz-keyframes bulge {
  from {transform: scale(1,1);}
  to {transform: scale(3,3);}
}

@-ms-keyframes bulge {
  from {transform: scale(1,1);}
  to {transform: scale(3,3);}
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  33% {transform: rotate(45deg);}
  66% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

@-webkit-keyframes wiggle {
  0% {transform: rotate(0deg);}
  33% {transform: rotate(45deg);}
  66% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

@-moz-keyframes wiggle {
  0% {transform: rotate(0deg);}
  33% {transform: rotate(45deg);}
  66% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {transform: rotate(0deg);}
  33% {transform: rotate(45deg);}
  66% {transform: rotate(-45deg);}
  100% {transform: rotate(0deg);}
}

/*animation*/


/*.blog_page {
  background-image: url('../images/backgrounds/bg4.jpg');
  background-size: cover;
}


th, td {
  border: 1px solid #ffffff;
}

.arrivals_table_2nd_row {
  background-color: grey;
}

.blog_coming_soon_container {
  margin: 300px auto;
  height: 180px;
  width: 1130px;
  background-color: rgba(0,0,0,.85);
  border-radius: 10px;
}
.arrivals_table_logo {
  display: inline-block;
  height: 80px;
  margin: 10px 30px 10px 10px;
}

.arrivals_table_title {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  color: #66ccff;
}

.arrivals_table_headings {
  width: 220px;
  font-size: 12px;
}

.arrivals_table_headings_text {
  margin: 5px auto;
  color: #66ccff;
}

.arrivals_table_row {
  width: 220px;
  text-align: center;
}

.arrivals_table_row_text {
  color: #66ccff;
  margin: 1px;
}*/
